<div *ngIf="tutorial"
    class="prose prose-sm max-w-3xl mx-auto sm:my-2 lg:mt-4 p-6 rounded-2xl shadow overflow-hidden bg-card mt-6">

    <ng-container>
        <h1> {{ 'tutorials.' + tutorial.route + '.title' | transloco }} </h1>

        <p innerHTML="{{ 'tutorials.' + tutorial.route + '.description' | transloco }}"> </p>

        <h3> {{ 'tutorials.parameters' | transloco }} </h3>

        <p innerHTML="{{ instructions.description_1 }}"> </p>

        <p innerHTML="{{ instructions.description_2 }}"> </p>

        <p> <a href="tutorial.endpoint">{{tutorial.endpoint}}</a> </p>

        <p innerHTML="{{ instructions.description_3 }}"> </p>

        <pre class="language-javascript line-numbers">
            <code class="language-javascript">{{ tutorial.parameters | json}}</code>
        </pre>

        <p innerHTML="{{ instructions.description_4 }}"> </p>

        <p innerHTML="{{ instructions.description_5 }}"></p>

        <p innerHTML="{{ instructions.description_6 }}"></p>

        <p innerHTML="{{ instructions.description_7 }}"></p>

        <p innerHTML="{{ instructions.description_8 }}"></p>

        <h3> {{ instructions.success_1}} </h3>

        <p innerHTML="{{ instructions.success_2 }}"> </p>

        <p innerHTML="{{ instructions.success_3 }}"> </p>

        <p innerHTML="{{ instructions.success_4 }}"></p>

        <p innerHTML="{{ instructions.success_5 }}"> </p>

        <p innerHTML="{{ instructions.success_6 }}"></p>

        <p innerHTML="{{ instructions.success_7 }}"></p>

    </ng-container>

</div>