$maxExtraSmall: 595px;
$minSmall: 600px;
$medium: 768px;
$large: 889px;
$computers: 1200px;
$mainColor: #01236D;

.main-card {
    width: 500px !important;
}

.w-120px {
    width: 95% !important;
}

/* For extremely small screen devices (595px and below) */
@media only screen and (max-width: $maxExtraSmall) {
    .main-card {
        width: 100% !important;
    }
}

/* Small screen devices (600px and above) */
@media only screen and (min-width: $minSmall) {
    .main-card {
        width: 100% !important;
    }
}


/* Medium screen devices (768px and above) */
@media only screen and (min-width: $medium) {
    .main-card {
        width: 500px !important;
    }
}

/* Big screen devices (889px and above) */
@media only screen and (min-width: $large) {
    .main-card {
        width: 500px !important;
    }
}

/* Extra big screen devices (1200px and above) */
@media only screen and (min-width: $computers) {
    .main-card {
        width: 500px !important;
    }
}