<div class="flex-auto overflow-y-auto mx-auto" cdkScrollable>
    <div class="prose prose-sm max-w-3xl mx-auto sm:my-2 overflow-hidden">
        <h1 class="verifikH1">
            {{ 'kyc.steps.title_2' | transloco }}
        </h1>

        <p>
            {{ 'kyc.steps.description_2' | transloco }}
        </p>
    </div>

    <div class="prose prose-sm max-w-3xl mx-auto sm:my-2 lg:mt-4 flex flex-wrap document-types w-full">

        <ng-container *ngIf="!isIdentityValidated && projectFlow.onboardingSettings.documentValidation.includeOCR">
            <div *ngIf="projectFlow.onboardingSettings.documentValidation.useGovermentID">
                <img src="https://cdn.verifik.co/assets/kyc/cedula_example@2x.png" alt="">
                <p>
                    <mat-checkbox class="example-margin" [(ngModel)]="documentsMapping.useGovernmentID"
                        (change)="selectDocument($event, 'useGovernmentID')">Cédula de ciudadanía
                    </mat-checkbox>
                </p>
            </div>

            <div *ngIf="projectFlow.onboardingSettings.documentValidation.usePassport">
                <img src="https://cdn.verifik.co/assets/kyc/pasaporte_example@2x.png" alt="">
                <p>
                    <mat-checkbox class="example-margin" [(ngModel)]="documentsMapping.usePassport"
                        (change)="selectDocument($event, 'usePassport')">Pasaporte</mat-checkbox>
                </p>
            </div>

            <div *ngIf="projectFlow.onboardingSettings.documentValidation.useLicense">
                <img src="https://cdn.verifik.co/assets/kyc/licencia_example@2x.png" alt="">
                <p>
                    <mat-checkbox [(ngModel)]="documentsMapping.useLicense"
                        (change)="selectDocument($event, 'useLicense')">
                        Licencia de conducir</mat-checkbox>
                </p>
            </div>

        </ng-container>

        <div class="rounded-2xl bg-card max-w-3xl mx-auto shadow overflow-hidden"
            *ngIf="!isIdentityValidated && !projectFlow.onboardingSettings.documentValidation.includeOCR">
            <!-- show the live detection thing -->
            <h3>
                {{ 'kyc.identity_validation.only_liveness_title' | transloco }}
            </h3>

            <p class="p-3">{{ 'kyc.identity_validation.only_liveness_description' | transloco }}</p>

            <div class="flex justify-center">
                <img src="https://cdn.verifik.co/assets/passwordless/liveness.gif">
            </div>

        </div>

        <!-- Error -->
        <fuse-alert class="mt-8 -mb-4" *ngIf="showAlert" [appearance]="'outline'" [showIcon]="false" [type]="alert.type"
            [@shake]="alert.type === 'error'">
            {{'errors.' + alert.message | transloco}}
        </fuse-alert>

        <button *ngIf="!isIdentityValidated" class="fuse-mat-button-large w-full mt-6 main primaryBg" mat-flat-button
            [disabled]="!canEnableFaceTecButton()" (click)="validateBiometrics()">

            <span *ngIf="biometricsReady">
                {{ 'kyc.identity_validation.validate_button' | transloco }}
            </span>

            <mat-progress-spinner *ngIf="!biometricsReady" [diameter]="24" [mode]="'indeterminate'">
            </mat-progress-spinner>
        </button>

    </div>



    <div class="prose prose-sm max-w-3xl mx-auto sm:my-2 overflow-hidden">

        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-6 w-full">

            <fuse-card *ngIf="ocrData"
                class="flex flex-col sm:col-span-2 md:col-span-4 lg:col-span-2 flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden"
                #fuseCard>
                <div class="text-lg font-bold">
                    {{ 'kyc.identity_validation.information' | transloco }}
                </div>
                <div class="mt-5"><b>{{'kyc.identity_validation.document'| transloco }}:</b> {{ocrData.document}}</div>

                <div><b>{{'kyc.basic.first_name'| transloco }}:</b> {{ocrData.firstName}}</div>
                <div><b>{{'kyc.basic.last_name'| transloco }}:</b> {{ocrData.lastName}}</div>
                <div><b>{{'kyc.basic.dateOfBirth'| transloco }}:</b> {{ocrData.dateOfBirth}}</div>

            </fuse-card>
            <fuse-card *ngIf="appRegistration.documentValidation"
                class="flex flex-col sm:col-span-2 md:col-span-4 lg:col-span-2" [flippable]="true" #documentScan>
                <!-- Front -->
                <ng-container fuseCardFront>
                    <div class="flex flex-col px-8 py-6 pb-3">
                        <div class="text-lg font-bold">
                            {{ 'kyc.identity_validation.front' | transloco }}
                        </div>

                        <img class="w-full" src="{{appRegistration.documentValidation.url}}frontCrop">

                        <div class="mt-3 -mx-3 self-end">
                            <button mat-icon-button [color]="'primary'" (click)="documentScan.face = 'back'">
                                <mat-icon class="icon-size-5" [svgIcon]="'heroicons_outline:arrow-right'"></mat-icon>
                            </button>
                        </div>
                    </div>
                </ng-container>

                <!-- Back -->
                <ng-container fuseCardBack>
                    <div class="flex flex-col flex-auto px-8 py-6 pt-3">
                        <div class="text-lg font-bold">
                            {{ 'kyc.identity_validation.back' | transloco }}
                        </div>

                        <img class="w-full" *ngIf="appRegistration.documentValidation.documentType !== 'PA'"
                            src="{{appRegistration.documentValidation.url}}backCrop">
                        <div class="mb-2 -mx-3">
                            <button mat-icon-button [color]="'primary'" (click)="documentScan.face = 'front'">
                                <mat-icon class="icon-size-5" [svgIcon]="'heroicons_outline:arrow-left'"></mat-icon>
                            </button>
                        </div>
                    </div>
                </ng-container>
            </fuse-card>
            <fuse-card *ngIf="appRegistration.biometricValidation"
                class="flex flex-col sm:col-span-2 md:col-span-4 lg:col-span-2" #fuseCard>
                <div class="flex items-start justify-between  px-8 py-6 pb-3">
                    <div class="flex flex-col items-center mt-2">
                        <div class="text-lg font-medium tracking-tight leading-6 truncate">
                            {{ 'kyc.identity_validation.biometric' | transloco }}
                        </div>
                        <div class="flex items-center justify-center w-full h-80 rounded-full overflow-hidden">
                            <img src="{{appRegistration.biometricValidation.url}}">
                        </div>

                    </div>
                </div>
            </fuse-card>
        </div>
    </div>
</div>