<div class="min-h-full w-full" ngClass.gt-sm="px-4 py-4" ngClass.lt-md="p-4" fxLayout="row" fxLayoutAlign="center center" fxLayout.lt-md="column">
    <div class="smart-stepper" fxFlex="100%" ngClass.lt-md="hidden">
        <smart-stepper></smart-stepper>
    </div>

    <smart-liveness
        (onImageScan)="onImageScan($event)"
        [successfulUpload]="successfulUploadSubject.asObservable()"
        [retry]="retrySubject.asObservable()"
    ></smart-liveness>

    <smart-error-display class="z-50" (onClearError)="retry()" [errorContent]="errorContent" *ngIf="errorResult" source="face"></smart-error-display>

    <div fxFlex="10%" fxFlex.lt-lg="0"></div>
</div>
