<div
  class="min-h-full w-full"
  ngClass.gt-sm="px-4 py-4"
  ngClass.lt-md="p-4"
  fxLayout="row"
  fxLayoutAlign="center center"
  fxLayout.lt-md="column"
>
  <div class="smart-stepper" fxFlex="25%" fxFlex.lt-md="0" ngClass.lt-md="hidden">
    <smart-stepper></smart-stepper>
  </div>

  <div
    class="w-full min-h-full"
    fxFlex="50%"
    fxFlex.lt-lg="75%"
    fxFlex.lt-md="100%"
    fxLayout="column"
    fxLayoutAlign="center center"
  >
    <smart-scanner
      (onImageScan)="onImageScan($event)"
      [successfulUpload]="successfulUploadSubject.asObservable()"
      *ngIf="!errorResult"
      class="w-full h-full"
      fxLayoutAlign="center center"
      source="face"
    ></smart-scanner>

    <smart-error-display
      (onClearError)="retry()"
      [errorContent]="errorContent"
      source="face"
      *ngIf="errorResult"
    ></smart-error-display>
  </div>

  <div fxFlex="25%" fxFlex.lt-lg="0"></div>
</div>
