<div class="w-full">
	<!-- header -->
	<div class="w-full demo-header" fxLayout="row" fxLayoutAlign="end center">
		<div fxFlex>
			<img src="https://cdn.verifik.co/LogoHorizontalBlanco.svg" alt="" class="demo-header-logo cursor-pointer" (click)="restartDemo()" />
		</div>

		<div fxFlex fxLayout="row" fxLayoutAlign="end center" class="demo-header-actions cursor-pointer">
			<div fxLayout="row" fxLayoutAlign="center center" class="demo-header-action" (click)="partnerWithUs()">
				<img src="https://cdn.verifik.co/demo/handshake@3x.png" class="demo-header-partner-icon" alt="" />

				<span fxHide.sm="true" fxHide.xs="true"> {{ "header.partner" | transloco }} </span>
			</div>

			<div fxLayout="row" fxLayoutAlign="center center" class="demo-header-action cursor-pointer" (click)="talkToSales()">
				<img src="https://cdn.verifik.co/demo/support_agent@3x.png" class="demo-header-partner-icon" alt="" />

				<span fxHide.sm="true" fxHide.xs="true">{{ "header.talk" | transloco }}</span>
			</div>

			<div fxLayout="row" fxLayoutAlign="center center" class="demo-header-action cursor-pointer">
				<languages></languages>
				<!-- <img src="https://cdn.verifik.co/demo/settings@3x.png" class="demo-header-partner-icon" alt="" />

				<span fxHide.sm="true" fxHide.xs="true"> Settings </span> -->
			</div>
		</div>
	</div>
	<!-- end of header -->
	<mat-progress-bar mode="query" class="w-full" *ngIf="demoData && demoData.loading"></mat-progress-bar>

	<!-- content -->
	<ng-container class="demo-content" *ngIf="requirementsLoaded">
		<demo-step-one *ngIf="navigation.currentStep === 1"> </demo-step-one>
		<demo-step-two *ngIf="navigation.currentStep === 2"> </demo-step-two>
		<demo-step-three *ngIf="navigation.currentStep === 3"> </demo-step-three>
		<demo-step-four *ngIf="navigation.currentStep === 4"> </demo-step-four>
		<demo-step-five *ngIf="navigation.currentStep === 5"> </demo-step-five>
	</ng-container>

	<!-- <div *ngIf="navigation.currentStep === 1"> -->
	<!-- </div> -->

	<app-demo-footer></app-demo-footer>
	<!-- end of content -->
</div>
