<div class="w-full">
	<!-- header -->
	<div class="w-full demo-header" fxLayout="row" fxLayoutAlign="end center">
		<div fxFlex>
			<img src="https://cdn.verifik.co/demo/logo3x.png" alt="" class="demo-header-logo" />
		</div>

		<div fxFlex fxLayout="row" fxLayoutAlign="end center" class="demo-header-actions">
			<div fxLayout="row" fxLayoutAlign="center center" class="demo-header-action">
				<img src="https://cdn.verifik.co/demo/handshake@3x.png" class="demo-header-partner-icon" alt="" />

				<span> Partner with us </span>
			</div>

			<div fxLayout="row" fxLayoutAlign="center center" class="demo-header-action">
				<img src="https://cdn.verifik.co/demo/support_agent@3x.png" class="demo-header-partner-icon" alt="" />

				<span> Talk to sales </span>
			</div>

			<div fxLayout="row" fxLayoutAlign="center center" class="demo-header-action">
				<img src="https://cdn.verifik.co/demo/settings@3x.png" class="demo-header-partner-icon" alt="" />

				<span> Settings </span>
			</div>
		</div>
	</div>
	<!-- end of header -->

	<!-- content -->

	<demo-step-one></demo-step-one>

	<!-- end of content -->
</div>
