.demo-header {
    background-color: #01236D;
    width: 100%;
    height: 64px;
    color: white !important;
}

.demo-header-logo {
    width: 120px;
    padding-left: 16px;
    height: auto;
}

.demo-header-action {
    padding-right: 25px;
}

.demo-header-partner-icon {
    width: 40px;
    padding-right: 10px;
}