<div
	[style.background]="project.branding.bgColor"
	@fadeIn
	*ngIf="project && !showKYCApp"
	class="w-full"
	fxLayout="row"
	fxLayoutAlign="center center"
>
	<languages class="language-selector"></languages>

	<div fxLayout="row" fxLayoutAlign="center end" class="flex w-full my-8" *ngIf="showMainContainer()">
		<div class="flex rounded-2xl bg-card overflow-hidden sign-in-content">
			<div class="w-full sm:w-auto py-4 px-8" fxLayout="row" fxLayoutAlign="start center">
				<div class="w-400 mx-auto sm:mx-0">
					<div *ngIf="!verificationComplete">
						<div fxLayout="row" fxLayoutAlign="space-between center" class="mt-2 mb-8 ml-2">
							<img [src]="project.branding.logo" class="w-14" />
						</div>

						<div class="flex">
							<small class="font-bold tracking-wider text-secondary">
								{{ "signup.step" | transloco : { current: currentStepIndex + 1, total: steps.length } | uppercase }}
							</small>

							<div class="signup__steps flex">
								<div
									class="signup__step"
									*ngFor="let step of steps"
									[ngClass]="{ 'signup__step--wide': step === currentStep }"
									[style.backgroundColor]="step === currentStep ? project.branding.buttonColor : ''"
								></div>
							</div>
						</div>

						<auth-sign-up-create-form
							@fadeIn
							[location]="location"
							[project]="project"
							[projectFlow]="projectFlow"
							*ngIf="currentStep === 'create'"
						></auth-sign-up-create-form>

						<auth-sign-up-verification
							@fadeIn
							(changeStep)="onStepChange($event)"
							[appRegistration]="appRegistration"
							[project]="project"
							[projectFlow]="projectFlow"
							*ngIf="currentStep === 'verify_email' || currentStep === 'verify_phone'"
						></auth-sign-up-verification>

						<div class="mt-8" fxLayout="row" fxLayoutAlign="center center">
							<div class="signup__steps flex">
								<div
									class="signup__step"
									*ngFor="let step of steps"
									[ngClass]="{ 'signup__step--wide': step === currentStep }"
									[style.backgroundColor]="step === currentStep ? project.branding.buttonColor : ''"
								></div>
							</div>
						</div>

						<div class="w-full text-center mt-8 text-secondary" fxLayout="row" fxLayoutAlign="center center">
							{{ "powered_by_verifik" | transloco }}
						</div>
					</div>

					<auth-sign-up-verification-complete
						(onServiceChange)="onServiceChange($event)"
						[appRegistration]="appRegistration"
						[project]="project"
						@fadeIn
						*ngIf="verificationComplete"
					></auth-sign-up-verification-complete>
				</div>
			</div>
		</div>
	</div>

	<div fxLayout="row" fxLayoutAlign="center end" class="flex w-full" *ngIf="showLocationError()">
		<div class="flex rounded-2xl bg-card overflow-hidden sign-in-content sign-in-content--small">
			<div class="w-full sm:w-auto p-10" fxLayout="column" fxLayoutAlign="start start">
				<div fxLayout="row" fxLayoutAlign="space-between center" class="mt-4 ml-2">
					<img [src]="project.branding.logo" class="w-14" />
				</div>

				<div class="mt-8 text-3xl font-medium tracking-tight leading-tight">
					{{ "errors." + locationError.errorMessage | transloco }}
				</div>

				<div class="items-baseline mt-4">
					{{ "errors." + locationError.errorMessage + "_subtitle" | transloco }}
				</div>

				<div class="mt-8" *ngIf="locationError.errorMessage === 'geolocation.user_denied_request'" fxLayout="column" fxLayoutAlign="center center">
					<img src="https://cdn.verifik.co/assets/auth/enable_your_location.png" alt="" />

					<button
						(click)="enabledLocation()"
						[id]="'enable_your_location-' + project._id"
						[style.background]="project.branding.buttonColor"
						[style.color]="project.branding.buttonTxtColor"
						class="fuse-mat-button-large w-full mt-8"
						mat-flat-button
					>
						<span>{{ "errors.geolocation.enabled_it" | transloco }}</span>
					</button>

					<div class="w-full text-center mt-10 text-secondary" fxLayout="row" fxLayoutAlign="center center">
						{{ "powered_by_verifik" | transloco }}
					</div>
				</div>
			</div>
		</div>
	</div>

	<div fxLayout="row" fxLayoutAlign="center end" class="flex w-full" *ngIf="showCountryNotAllowed()">
		<div class="flex rounded-2xl bg-card overflow-hidden sign-in-content sign-in-content--small">
			<div class="w-full sm:w-auto p-10" fxLayout="column">
				<div class="w-full" fxLayout="column" fxLayoutAlign="center center">
					<mat-icon
						class="sign-in-content__icon"
						svgIcon="fa_solid:location-pin-lock"
						[style.color]="project.branding.buttonColor"
					></mat-icon>
				</div>

				<div class="mt-8 text-3xl font-medium text-center tracking-tight leading-tight">
					{{ "errors.geolocation.country_not_allowed" | transloco }}
				</div>

				<div class="items-baseline mt-4 text-center">
					{{ "errors.geolocation.country_not_allowed_subtitle" | transloco }}
				</div>

				<div class="w-full" fxLayout="row" fxLayoutAlign="center center">
					<button
						(click)="countryNotAllowedAccept()"
						[style.background]="project.branding.buttonColor"
						[style.color]="project.branding.buttonTxtColor"
						class="fuse-mat-button-large mt-12"
						mat-flat-button
					>{{ "accept" | transloco }}</button>
				</div>

				<div class="w-full text-center mt-10 text-secondary" fxLayout="row" fxLayoutAlign="center center">
					{{ "powered_by_verifik" | transloco }}
				</div>
			</div>
		</div>
	</div>

	<div fxLayout="row" fxLayoutAlign="center end" class="flex w-full" *ngIf="showNoProjectError()">
		<div class="flex rounded-2xl bg-card overflow-hidden sign-in-content sign-in-content--small">
			<div class="w-full sm:w-auto p-10" fxLayout="column">
				<div class="w-full" fxLayout="column" fxLayoutAlign="center center">
					<mat-icon
						class="sign-in-content__icon"
						svgIcon="fa_solid:gears"
						[style.color]="project.branding.buttonColor"
					></mat-icon>
				</div>

				<div class="mt-8 text-3xl font-medium text-center tracking-tight leading-tight">
					{{ "signup.project_flow_not_set" | transloco }}
				</div>

				<div class="items-baseline mt-4 text-center">
					{{ "signup.project_flow_not_set_description" | transloco }}
				</div>

				<div class="w-full" fxLayout="row" fxLayoutAlign="center center">
					<a href="https://app.verifik.co" target="_self">
						<button
							[style.background]="project.branding.buttonColor"
							[style.color]="project.branding.buttonTxtColor"
							class="fuse-mat-button-large mt-12"
							mat-flat-button
						>{{ "continue" | transloco }}</button>
					</a>
				</div>

				<div class="w-full text-center mt-10 text-secondary" fxLayout="row" fxLayoutAlign="center center">
					{{ "powered_by_verifik" | transloco }}
				</div>
			</div>
		</div>
	</div>

	<div
		[style.background]="'center / cover no-repeat url(' + project.branding.rightImage + ')'"
		*ngIf="project.branding.rightImage"
		class="relative hidden md:flex flex-auto justify-center h-full overflow-hidden dark:border-r w-full"
		fxLayout="row"
		fxLayoutAlign="{{ project.branding.rightImagePosition || 'end end' }}"
	></div>
</div>

<smart-enroll class="w-full" [service]="service" @fadeIn *ngIf="showKYCApp"></smart-enroll>
