@mixin ios-input-zoom {
    select,
    textarea,
    input {
        font-size: 16px !important;

        &:focus {
            font-size: 16px !important;
        }
    }
}

// Prevents zooming for iOS: >13
@supports (-webkit-touch-callout: none) {
    @include ios-input-zoom();
}

// Prevents zooming for iOS: <=13
@supports (-webkit-overflow-scrolling: touch) {
    @include ios-input-zoom();
}

.mat-country-code-select {
    margin-top: -20px !important;
    margin-bottom: -24px !important;
}

.signup {
    &__steps {
        padding: 4px;
    }
    
    &__step {
        background-color: #C4C6D0;
        border-radius: 4px;
        height: 8px;
        transition: width 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
        width: 8px;
        margin-right: 4px;
    
        &--wide {
            background-color: #0140EC;
            width: 24px;
        }
    }

    &__hint {
        background-color: #EDEFF2;
        width: 100%;
        padding: 16px;

        &--red {
            background-color: #ffe5e5;
            color: #da1313;

            mat-icon {
                color: #da1313;
            }
        }
    }
}

.language-selector {
    margin: 48px;
    position: absolute;
    top: 0;
    right: 0;

    @media screen and (max-width: 959px) {
        margin: 16px;
    }
}
