.step-one-main-div {
    width: 100%;
    padding-top: 100px;
}

.step-one-logo {
    width: 250px;
    height: auto;
}

.step-one-middle-container {
    width: 50%;
}

h1 {
    font-size: 35px;
    padding-top: 32px;
    font-weight: 700;
    color: #0036E7;
}

.p-1 {
    font-size: 16px;
    text-align: center;
    color: #01236db1;
} 

.p-2 {
    font-size: 16px;
    font-weight: 800;
    text-align: center;
    color: #01236db1; 
}

.business-woman-image {
    width: 800px;
    padding-top: 100px;
    position: relative;
    height: auto;
}