<!-- step one -->
<div class="step-one-main-div" fxLayout="column" fxLayoutAlign="start center">
	<!-- image on the left of business woman -->
	<div fxLayout="column" fxLayoutAlign="center center" class="step-one-middle-container">
		<img src="https://cdn.verifik.co/demo/logostepOne.png" alt="" class="step-one-logo" />

		<h1>Explore the future of identity validation with Verifik</h1>

		<p class="p-1">
			We feature cutting-edge services including accurate and fast identification of identity documents using state-of-the-art OCR technology,
			as well as 3D biometric scans that ensure the authenticity of individuals and prevent impersonation.
		</p>

		<p class="p-2">Discover how Verifik is revolutionizing identity validation security.</p>
	</div>
	<div>
		<img src="https://cdn.verifik.co/demo/stepone_woman@2x.png" alt="" class="business-woman-image" />
	</div>
	<!-- middle content -->
	<div></div>
</div>
