<!-- step one -->
<div class="step-one-main-div" fxLayout="column" fxLayoutAlign="start center">
	<!-- image on the left of business woman -->
	<div fxLayout="column" fxLayoutAlign="center center" class="step-one-middle-container">
		<img src="https://cdn.verifik.co/demo/logostepOne.png" alt="" class="step-one-logo" />

		<h1>Explore the future of identity validation with Verifik</h1>

		<p class="p-1">
			We feature cutting-edge services including accurate and fast identification of identity documents using state-of-the-art OCR technology,
			as well as 3D biometric scans that ensure the authenticity of individuals and prevent impersonation.
		</p>

		<p class="p-2">Discover how Verifik is revolutionizing identity validation security.</p>
	</div>

	<div class="step-one-woman-and-options" fxLayout="row" fxLayoutAlign="center center">
		<!-- scanning options -->
		<div fxLayout="row" fxLayoutAlign="center center">
			<div fxLayout="column" fxLayoutAlign="start center">
				<div class="step-one-card" fxLayout="column" fxLayoutAlign="start center">
					<div class="step-one-card-image" fxLayout="row" fxLayoutAlign="center center">
						<img src="https://cdn.verifik.co/demo/id_in_card.png" alt="" class="id_in_card_img" />
					</div>

					<h3 class="mt-4">Scan your ID Document</h3>
				</div>
				<p class="step-one-circle">1</p>
			</div>

			<div fxLayout="column" fxLayoutAlign="start center">
				<div class="step-one-card" fxLayout="column" fxLayoutAlign="start center">
					<div class="step-one-card-image" fxLayout="row" fxLayoutAlign="center center">
						<img src="https://cdn.verifik.co/demo/x2Step2.png" alt="" class="id_in_card_img" />
					</div>

					<h3 class="mt-4 text-center">Obtain and verify the information extracted</h3>
				</div>
				<p class="step-one-circle">2</p>
			</div>

			<div fxLayout="column" fxLayoutAlign="start center">
				<div class="step-one-card" fxLayout="column" fxLayoutAlign="start center">
					<div class="step-one-card-image" fxLayout="row" fxLayoutAlign="center center">
						<img src="https://cdn.verifik.co/demo/x2Step3.png" alt="" class="id_in_card_img" />
					</div>

					<h3 class="mt-4 text-center m-2">Generate a 3D biometric record</h3>
				</div>
				<p class="step-one-circle">3</p>
			</div>

			<div fxLayout="column" fxLayoutAlign="start center">
				<div class="step-one-card" fxLayout="column" fxLayoutAlign="start center">
					<div class="step-one-card-image" fxLayout="row" fxLayoutAlign="center center">
						<img src="https://cdn.verifik.co/demo/x2Step4.png" alt="" class="id_in_card_img" />
					</div>

					<h3 class="mt-4 text-center m-2">Get your identity authenticated within a minute.</h3>
				</div>

				<p class="step-one-circle">4</p>
			</div>
		</div>
	</div>
	<!-- middle content -->
	<div></div>
</div>

<img src="https://cdn.verifik.co/demo/stepone_woman@2x.png" alt="" class="business-woman-image" />
