<!-- step one -->
<div class="step-one-main-div" fxLayout="column" fxLayoutAlign="start center" *ngIf="!showForm">
	<!-- image on the left of business woman -->
	<div fxLayout="column" fxLayoutAlign="center center" class="step-one-middle-container">
		<img src="https://cdn.verifik.co/demo/verifiklogosvgsvg.svg" alt="" class="step-one-logo" />

		<h1>{{ "step_one.title" | transloco }}</h1>

		<p class="p-1">
			{{ "step_one.header" | transloco }}
		</p>

		<p class="p-2">{{ "step_one.subtitle" | transloco }}</p>
	</div>

	<div class="step-one-woman-and-options" fxLayout="column" fxLayoutAlign="center center">
		<!-- scanning options -->
		<div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center" class="steps-in-cards" fxLayoutWrap="true">
			<div fxLayout="column" fxLayoutAlign="start center">
				<div class="step-one-card" fxLayout="column" fxLayoutAlign="start center">
					<div class="step-one-card-image" fxLayout="row" fxLayoutAlign="center center">
						<img src="https://cdn.verifik.co/demo/id_in_card.png" alt="" class="id_in_card_img" />
					</div>

					<h3 class="mt-4">{{ "step_one.cards.id" | transloco }}</h3>
				</div>
				<p class="step-one-circle">1</p>
			</div>

			<div fxLayout="column" fxLayoutAlign="start center">
				<div class="step-one-card" fxLayout="column" fxLayoutAlign="start center">
					<div class="step-one-card-image" fxLayout="row" fxLayoutAlign="center center">
						<img src="https://cdn.verifik.co/demo/x2Step2.png" alt="" class="id_in_card_img" />
					</div>

					<h3 class="mt-4 text-center">{{ "step_one.cards.verify_id" | transloco }}</h3>
				</div>
				<p class="step-one-circle">2</p>
			</div>

			<div fxLayout="column" fxLayoutAlign="start center">
				<div class="step-one-card" fxLayout="column" fxLayoutAlign="start center">
					<div class="step-one-card-image" fxLayout="row" fxLayoutAlign="center center">
						<img src="https://cdn.verifik.co/demo/x2Step3.png" alt="" class="id_in_card_img" />
					</div>

					<h3 class="mt-4 text-center m-2">{{ "step_one.cards.liveness" | transloco }}</h3>
				</div>
				<p class="step-one-circle">3</p>
			</div>

			<div fxLayout="column" fxLayoutAlign="start center">
				<div class="step-one-card" fxLayout="column" fxLayoutAlign="start center">
					<div class="step-one-card-image" fxLayout="row" fxLayoutAlign="center center">
						<img src="https://cdn.verifik.co/demo/x2Step4.png" alt="" class="id_in_card_img" />
					</div>

					<h3 class="mt-4 text-center m-2">{{ "step_one.cards.compare" | transloco }}</h3>
				</div>

				<p class="step-one-circle">4</p>
			</div>
		</div>

		<div fxLayout="column" class="accept-terms-container" fxLayoutAlign="start center">
			<button mat-raised-button color="primary" class="mt-8 z-index-2 start-demo-button" (click)="showFormView()">
				{{ "step_one.start_demo_button" | transloco }}
			</button>
		</div>
	</div>
	<!-- middle content -->
	<div></div>
</div>

<!-- lead form -->
<div class="form-div" fxLayout="column" fxLayoutAlign="center center" *ngIf="showForm && contactForm">
	<h1>{{ "form.title" | transloco }}</h1>

	<div *ngIf="errorScreen.showError" class="error-w p-2 rounded-md error-text">
		{{ errorScreen.errorMessage }}
	</div>

	<form [formGroup]="contactForm" novalidate fxLayout="column" class="w-full">
		<!-- Company Name -->
		<mat-form-field appearance="fill">
			<mat-label>{{ "form.company" | transloco }}</mat-label>
			<input matInput formControlName="companyName" />
			<mat-error *ngIf="contactForm.get('companyName').hasError('required')"> {{ "form.company_required_error" | transloco }}</mat-error>
			<mat-error *ngIf="contactForm.get('companyName').hasError('pattern')">{{ "form.invalid_format_error" | transloco }}</mat-error>
		</mat-form-field>

		<!-- Name -->
		<mat-form-field appearance="fill">
			<mat-label>{{ "form.names" | transloco }}</mat-label>
			<input matInput formControlName="name" />
			<mat-error *ngIf="contactForm.get('name').hasError('required')">{{ "form.invalid_format_error" | transloco }}</mat-error>
			<mat-error *ngIf="contactForm.get('name').hasError('pattern')">{{ "form.invalid_format_error" | transloco }}</mat-error>
		</mat-form-field>

		<!-- Website -->
		<mat-form-field appearance="fill">
			<mat-label>{{ "form.website" | transloco }}</mat-label>
			<input matInput formControlName="website" />
			<mat-error *ngIf="contactForm.get('website').hasError('required')">Website is required</mat-error>
			<mat-error *ngIf="contactForm.get('website').hasError('pattern')">Invalid URL</mat-error>
		</mat-form-field>

		<!-- Job Function -->
		<mat-form-field appearance="fill">
			<mat-label>{{ "form.job" | transloco }}</mat-label>
			<input matInput formControlName="jobFunction" />
			<mat-error *ngIf="contactForm.get('jobFunction').hasError('required')">Job Function is required</mat-error>
			<mat-error *ngIf="contactForm.get('jobFunction').hasError('pattern')">{{ "form.invalid_format_error" | transloco }}</mat-error>
		</mat-form-field>

		<!-- Email -->
		<mat-form-field appearance="fill">
			<mat-label>{{ "form.email" | transloco }}</mat-label>
			<input matInput formControlName="email" />
			<mat-error *ngIf="contactForm.get('email').hasError('required')">Email is required</mat-error>
			<mat-error *ngIf="contactForm.get('email').hasError('email')">Invalid email</mat-error>
			<!-- Add custom validator error message if needed -->
		</mat-form-field>

		<!-- Country Code (assuming a select dropdown) -->
		<mat-form-field appearance="fill" *ngIf="countries && countries.length">
			<mat-label>{{ "form.country_code" | transloco }}</mat-label>
			<mat-select formControlName="countryCode">
				<!-- Replace with actual country code options -->
				<mat-option *ngFor="let code of countries" [value]="code.code">{{ code.name }}</mat-option>
			</mat-select>
			<mat-error *ngIf="contactForm.get('countryCode').hasError('required')">Country Code is required</mat-error>
		</mat-form-field>

		<!-- Phone -->
		<mat-form-field appearance="fill">
			<mat-label>{{ "form.phone" | transloco }}</mat-label>
			<input matInput formControlName="phone" />
			<mat-error *ngIf="contactForm.get('phone').hasError('required')">Phone is required</mat-error>
			<!-- Add custom validator error message if needed -->
		</mat-form-field>

		<!-- Legal Agreement -->
		<mat-checkbox formControlName="legalAgreement">
			{{ "step_one.terms_label" | transloco }}
			<a href="https://docs.verifik.co/docs/terms-conditions/4s01oqa1z6oof-privacy-policy" target="_blank">{{
				"step_one.terms_link" | transloco
			}}</a>
		</mat-checkbox>

		<!-- Submit Button -->
		<div fxLayout="row" fxLayoutAlign="center center">
			<button mat-raised-button color="primary" [disabled]="!contactForm.valid" class="mt-8 w-50" (click)="submitForm()">
				{{ "step_one.start_demo_button" | transloco }}
			</button>
		</div>
	</form>
</div>
<!-- end of lead form -->

<img src="https://cdn.verifik.co/demo/stepone_woman@2x.png" alt="" fxHide.xs="true" fxHide.sm="true" fxHide.md="true" class="business-woman-image" />
