:host {
    position: fixed;
    inset: 0;
}

.camera {
    height: 800px;
    width: 800px;

    &__loader {
        background-color: rgba(30, 41, 59, 0.5);

        &--success {
            background-color: rgba(0, 255, 0, 0.1);
        }
    }

    &__change-camera {
        bottom: 10%;
        height: 80px;
        left: 50%;
        min-height: 80px;
        min-width: 80px;
        position: absolute;
        transform: translateX(-50%);
        width: 80px;

        svg {
            transform: scale(1.8);
        }
    }

    @media (max-width: 576px) {
        height: 350px;
        width: 350px;

        &__change-camera {
            height: 36px;
            width: 36px;
            min-height: 36px;
            min-width: 36px;

            svg {
                transform: scale(0.8);
            }
        }
    }

    @media (min-width: 576px) and (max-width: 768px) {
        height: 400px;
        width: 400px;

        &__change-camera {
            height: 48px;
            width: 48px;
            min-height: 48px;
            min-width: 48px;

            svg {
                transform: scale(1.2);
            }
        }
    }

    @media (min-width: 768px) and (max-width: 959px) {
        height: 600px;
        width: 600px;

        &__change-camera {
            height: 64px;
            width: 64px;
            min-height: 64px;
            min-width: 64px;

            svg {
                transform: scale(1.5);
            }
        }
    }
}

.indicator {
    $indicator-size: 48px;

    position: absolute;

    &--a {
        top: -($indicator-size);
        left: -($indicator-size);
        height: calc(100% + (($indicator-size) * 2));
        width: calc(100% + (($indicator-size) * 2));
    }

    &--b {
        top: -($indicator-size);
        left: -($indicator-size);
        height: calc(100% + ($indicator-size * 2));
        width: calc(100% + ($indicator-size * 2));
        transform: scale3d(0.8, 0.8, 1);
        transition: transform 0.5s ease-in-out;
    }

    @media (max-width: 576px) {
        $indicator-size: 16px;

        &--a {
            top: -($indicator-size);
            left: -($indicator-size);
            height: calc(100% + (($indicator-size) * 2));
            width: calc(100% + (($indicator-size) * 2));
        }

        &--b {
            top: -($indicator-size);
            left: -($indicator-size);
            height: calc(100% + ($indicator-size * 2));
            width: calc(100% + ($indicator-size * 2));
        }
    }

    @media (min-width: 576px) and (max-width: 768px) {
        $indicator-size: 24px;

        &--a {
            top: -($indicator-size);
            left: -($indicator-size);
            height: calc(100% + (($indicator-size) * 2));
            width: calc(100% + (($indicator-size) * 2));
        }

        &--b {
            top: -($indicator-size);
            left: -($indicator-size);
            height: calc(100% + ($indicator-size * 2));
            width: calc(100% + ($indicator-size * 2));
        }
    }

    @media (min-width: 768px) and (max-width: 959px) {
        $indicator-size: 32px;

        &--a {
            top: -($indicator-size);
            left: -($indicator-size);
            height: calc(100% + (($indicator-size) * 2));
            width: calc(100% + (($indicator-size) * 2));
        }

        &--b {
            top: -($indicator-size);
            left: -($indicator-size);
            height: calc(100% + ($indicator-size * 2));
            width: calc(100% + ($indicator-size * 2));
        }
    }

    &__pie {
        border-radius: 50%;
        height: 100%;
        overflow: hidden;
        position: relative;
        width: 100%;
        transition: opacity 200ms ease-out;
    }

    &__cut {
        bottom: 50%;
        height: 50%;
        left: 50%;
        outline: none;
        position: absolute;
        transform-origin: bottom left;
        transition: all 200ms ease-out;
        width: 50%;
    }

    &__clip {
        height: 100%;
        border-radius: 50%;
        width: 100%;
        transform: scale3d(0.5, 0.5, 1);

        @media (max-width: 959px) {
            background-color: white !important;
        }
    }
}

@mixin generate-animation($name, $start, $end) {
    opacity: 1;
    animation: $name 2s cubic-bezier(0.25, 0.1, 0.25, 1) infinite;

    @keyframes #{$name} {
        0% {
            transform: #{$start};
        }
        100% {
            transform: #{$end};
        }
    }
}

.instructions {
    &__step-index {
        font-size: 12px;
        padding: 2px;
        min-width: 26px;
        min-height: 26px;
        border-radius: 50%;
        margin-right: 12px;
        text-align: center;
    }
}

.face {
    opacity: 0;
    transform-origin: center;

    @media (max-width: 959px) {
        height: 30%;
        width: 30%;
    }

    @media (min-width: 768px) and (max-width: 959px) {
        height: 60%;
        width: 60%;
    }

    &--not-found,
    &--low-score {
        opacity: 1;
        animation: not-found-anim 2s cubic-bezier(0.25, 0.1, 0.25, 1) infinite;

        @keyframes not-found-anim {
            0% {
                filter: blur(0);
            }
            100% {
                filter: blur(3px);
            }
        }
    }

    &--move-closer {
        @include generate-animation(move-closer-anim, scale3d(1), scale3d(1.3, 1.3));
    }
    &--move-away {
        @include generate-animation(move-away-anim, scale3d(1), scale3d(0.6, 0.6));
    }
    &--not-in-frame {
        @include generate-animation(not-in-frame-anim, translate3d(-50%, 0, 0), translate3d(0, 0, 0));
    }
    &--roll-right {
        @include generate-animation(roll-right-anim, rotate3d(0, 0, 0, 0deg), rotate3d(1, 1, 0, 20deg));
    }
    &--roll-left {
        @include generate-animation(roll-left-anim, rotate(0, 0, 0, 0deg), rotate3d(1, 1, 0, -20deg));
    }
    &--pitch-up {
        transform-style: preserve-3d;
        @include generate-animation(pitch-up-anim, rotate3d(0, 0, 0, 0deg), rotate3d(6, 0, 1, -40deg));
    }
    &--pitch-down {
        transform-style: preserve-3d;
        @include generate-animation(pitch-down-anim, rotate3d(0, 0, 0, 0deg), rotate3d(6, 0, 1, 40deg));
    }
    &--yaw-right {
        transform-style: preserve-3d;
        @include generate-animation(yaw-right-anim, rotate3d(0, 0, 0, 0deg), rotate3d(0, 6, 1, -40deg));
    }
    &--yaw-left {
        transform-style: preserve-3d;
        @include generate-animation(yaw-left-anim, rotate3d(0, 0, 0, 0deg), rotate3d(0, 6, 1, 40deg));
    }
}
