<div
  class="signup__steps"
  fxLayout="row"
  fxLayoutAlign="end center"
  ngClass.gt-sm="hidden"
>
  <div class="mr-2">
    <p
      *ngIf="projectFlow.onboardingSettings.steps.document !== 'skip'"
      [hidden]="currentStep !== 'document'" ngClass.lt-md="uppercase text-medium"
    >
      <span *ngIf="method === 'upload'">{{
        "smart_enroll.step_titles.upload" | transloco
      }}</span>
      <span *ngIf="method === 'scan'">
        {{ "smart_enroll.step_titles.id" | transloco }}
      </span>
    </p>

    <p
      *ngIf="projectFlow.onboardingSettings.steps.document !== 'skip'"
      [hidden]="currentStep !== 'document-review'" ngClass.lt-md="uppercase text-medium"
    >
      {{ "smart_enroll.step_titles.ocr_details" | transloco }}
    </p>

    <p
      *ngIf="projectFlow.onboardingSettings.steps.liveness !== 'skip'"
      [hidden]="currentStep !== 'biometric'" ngClass.lt-md="uppercase text-medium"
    >
      {{ "smart_enroll.step_titles.biometrics" | transloco }}
    </p>

    <p [hidden]="currentStep !== 'result'" ngClass.lt-md="uppercase text-medium">
      {{ "smart_enroll.step_titles.results" | transloco }}
    </p>
  </div>

  <div
    class="signup__step"
    *ngIf="projectFlow.onboardingSettings.steps.document !== 'skip'"
    [ngClass]="{ 'signup__step--wide': currentStep === 'document' }"
    [style.color]="
      currentStep === 'document' ? project.branding.buttonColor : ''
    "
  ></div>

  <div
    class="signup__step"
    *ngIf="projectFlow.onboardingSettings.steps.document !== 'skip'"
    [ngClass]="{ 'signup__step--wide': currentStep === 'document-review' }"
    [style.color]="
      currentStep === 'document-review' ? project.branding.buttonColor : ''
    "
  ></div>

  <div
    class="signup__step"
    *ngIf="projectFlow.onboardingSettings.steps.liveness !== 'skip'"
    [ngClass]="{ 'signup__step--wide': currentStep === 'biometric' }"
    [style.color]="
      currentStep === 'biometric' ? project.branding.buttonColor : ''
    "
  ></div>

  <div
    class="signup__step"
    [ngClass]="{ 'signup__step--wide': currentStep === 'result' }"
    [style.color]="currentStep === 'result' ? project.branding.buttonColor : ''"
  ></div>
</div>

<div ngClass.lt-md="hidden">
  <div
    class="flex welcome__step-row"
    *ngIf="projectFlow.onboardingSettings.steps.document !== 'skip'"
    ngClass.lt-md="welcome__step-row--condensed"
    [ngClass]="currentStep === 'document' ? 'welcome__step-row--active' : ''"
    [style.color]="
      currentStep === 'document' ? project.branding.buttonTxtColor : ''
    "
  >
    <p
      class="welcome__step welcome__step--large"
      fxLayout="row"
      fxLayoutAlign="center center"
      [style.background]="
        currentStep === 'document' ? project.branding.buttonColor : ''
      "
    >
      <span
        *ngIf="currentStep === 'document'"
        class="welcome__step-number welcome__step-number--large"
        >1</span
      >
      <mat-icon
        *ngIf="!documentSkipped && currentStep !== 'document'"
        [style.color]="project.branding.buttonColor"
        >check</mat-icon
      >
      <mat-icon
        *ngIf="documentSkipped && currentStep !== 'document'"
        svgIcon="heroicons_mini:forward"
        ></mat-icon
      >
    </p>

    <p
      class="welcome__step-text welcome__step-text--large"
      [style.background]="
        currentStep === 'document' ? project.branding.buttonColor : ''
      "
    >
      <span *ngIf="!method || method === 'upload'">{{
        "smart_enroll.step_titles.upload" | transloco
      }}</span>
      <span *ngIf="method === 'scan'">{{
        "smart_enroll.step_titles.id_scanning" | transloco
      }}</span>
    </p>
  </div>

  <div
    class="flex welcome__step-row"
    *ngIf="projectFlow.onboardingSettings.steps.document !== 'skip'"
    [ngClass]="
      currentStep === 'document-review' ? 'welcome__step-row--active' : ''
    "
    [style.color]="
      currentStep === 'document-review' ? project.branding.buttonTxtColor : ''
    "
  >
    <p
      class="welcome__step welcome__step--large"
      fxLayout="row"
      fxLayoutAlign="center center"
      [style.background]="
        currentStep === 'document-review' ? project.branding.buttonColor : ''
      "
    >
      <span
        *ngIf="currentStep === 'document' || currentStep === 'document-review'"
        class="welcome__step-number welcome__step-number--large"
        >2</span
      >
      <mat-icon
        *ngIf="!documentSkipped && currentStep !== 'document' && currentStep !== 'document-review'"
        [style.color]="project.branding.buttonColor"
        >check</mat-icon
      >
      <mat-icon
        *ngIf="documentSkipped && currentStep !== 'document' && currentStep !== 'document-review'"
        svgIcon="heroicons_mini:forward"
        ></mat-icon
      >
    </p>

    <p
      class="welcome__step-text welcome__step-text--large"
      [style.background]="
        currentStep === 'document-review' ? project.branding.buttonColor : ''
      "
    >
      {{ "smart_enroll.step_titles.ocr_details" | transloco }}
    </p>
  </div>

  <div
    class="flex welcome__step-row"
    *ngIf="projectFlow.onboardingSettings.steps.liveness !== 'skip'"
    [ngClass]="currentStep === 'biometric' ? 'welcome__step-row--active' : ''"
    [style.color]="
      currentStep === 'biometric' ? project.branding.buttonTxtColor : ''
    "
  >
    <div
      class="welcome__step welcome__step--large"
      fxLayout="row"
      fxLayoutAlign="center center"
      [style.background]="
        currentStep === 'biometric' ? project.branding.buttonColor : ''
      "
    >
      <div
        class="welcome__step-number welcome__step-number--large"
        *ngIf="
          currentStep === 'document' ||
          currentStep === 'document-review' ||
          currentStep === 'biometric'
        "
      >
        <p *ngIf="projectFlow.onboardingSettings.steps.document !== 'skip'">
          3
        </p>
        <p *ngIf="projectFlow.onboardingSettings.steps.document === 'skip'">
          1
        </p>
      </div>

      <mat-icon
        *ngIf="!biometricSkipped && currentStep === 'result'"
        [style.color]="project.branding.buttonColor"
        >check</mat-icon
      >
      <mat-icon
        *ngIf="biometricSkipped && currentStep === 'result'"
        svgIcon="heroicons_mini:forward"
        ></mat-icon
      >
    </div>

    <p
      class="welcome__step-text welcome__step-text--large"
      [style.background]="
        currentStep === 'biometric' ? project.branding.buttonColor : ''
      "
    >
      {{ "smart_enroll.step_titles.biometric_record" | transloco }}
    </p>
  </div>

  <div
    class="flex welcome__step-row"
    [ngClass]="currentStep === 'result' ? 'welcome__step-row--active' : ''"
    [style.color]="
      currentStep === 'result' ? project.branding.buttonTxtColor : ''
    "
  >
    <p
      class="welcome__step welcome__step--large"
      fxLayout="row"
      fxLayoutAlign="center center"
      [style.background]="
        currentStep === 'result' ? project.branding.buttonColor : ''
      "
    >
      <span
        class="welcome__step-number welcome__step-number--large"
        >{{ 4 - (projectFlow.onboardingSettings.steps.document === 'skip' ? 2 : 0) - (projectFlow.onboardingSettings.steps.liveness === 'skip' ? 1 : 0) }}</span
      >
    </p>

    <p
      class="welcome__step-text welcome__step-text--large"
      [style.background]="
        currentStep === 'result' ? project.branding.buttonColor : ''
      "
    >
      {{ "smart_enroll.step_titles.results" | transloco }}
    </p>
  </div>
</div>
