<div
	fxLayout="column"
	fxLayoutAlign="center center"
	class="bg-white rounded-lg shadow-lg items-center w-full"
	*ngIf="!failedToDetectDocument && hasCameraPermissions && !loadingCamera && !errorResult"
>
	<canvas #cardIdFace hidden="true"></canvas>
	<div *ngIf="!loadingCamera && hasCameraPermissions" class="w-full height-full">
		<div
			fxLayout="column"
			fxLayoutAlign="center center"
			class="text-center h-20 pb-4 sm:h-8 xs:h-8 my-2"
			[ngClass]="{ 'id-scanning-error-container': errorFace && errorFace.title }"
		>
			<div *ngIf="errorFace && !loadingResults">
				<div [style.color]="project ? project.branding.titleColor : null" class="text-3xl font-bold">{{ errorFace.title }}</div>
				<div [style.color]="project ? project.branding.txtColor : null" class="text-gray-600">{{ errorFace.subtitle }}</div>
			</div>
		</div>
		<div
			*ngIf="!failedToDetectDocument"
			fxLayout="column"
			fxLayoutAlign="center center"
			class="w-full h-full"
			[ngClass]="{ 'mobile-height': phoneMode }"
		>
			<div class="relative w-full" [style.width.px]="WIDTH" [style.height.px]="HEIGHT">
				<video
					#videoElement
					autoplay
					class="absolute top-0 left-0 w-full"
					[ngClass]="{ 'max-h-[75vh]': !phoneMode }"
					[class.hidden]="base64Images"
				></video>
				<canvas
					#canvas
					class="absolute top-0 left-0"
					[style.width.px]="WIDTH"
					[style.height.px]="HEIGHT"
					[class.hidden]="base64Images"
				></canvas>
				<canvas #result class="absolute top-0 left-0" [class.hidden]="!base64Images"></canvas>
				<canvas #toSend class="absolute top-0 left-0" [class.hidden]="true"></canvas>
			</div>
			<div class="relative -top-18" fxLayout="row" fxLayoutAlign="center center">
				<button
					mat-raised-button
					class="m-4 z-index-2 capture_button"
					[class.hidden]="base64Images"
					(click)="takePicture()"
					[disabled]="errorFace"
					[style.background]="project.branding.buttonColor"
					[style.color]="project.branding.buttonTxtColor"
				>
					{{ "id_scanning.manual_capture_button" | transloco }}
				</button>

				<button
					mat-stroked-button
					[style.background]="project.branding.buttonColor"
					[style.color]="project.branding.buttonTxtColor"
					class="m-4 z-index-2"
					[class.hidden]="!base64Images"
					(click)="tryAgain()"
				>
					{{ "id_scanning.retry" | transloco }}
				</button>

				<button
					[style.background]="project.branding.buttonColor"
					[style.color]="project.branding.buttonTxtColor"
					mat-raised-button
					class="mx-2"
					[class.hidden]="!base64Images"
					(click)="continue()"
				>
					{{ "continue" | transloco }}
				</button>
			</div>
		</div>
	</div>
</div>

<!-- it doesnt have permissions -->
<div
	*ngIf="!failedToDetectDocument && !hasCameraPermissions && !loadingCamera"
	fxLayout="column"
	fxLayoutAlign="center center"
	class="id-scanning-error-div"
>
	<img src="https://cdn.verifik.co/demo/nocameraenabled.svg" alt="" class="id-scanning-no-camera-enabled-img" />

	<h1 class="mt-4" [style.color]="project.branding.titleColor">{{ "id_scanning.camera_not_found" | transloco }}</h1>

	<p class="mt-4" [style.color]="project.branding.txtColor">
		{{ "id_scanning.camera_not_found_description" | transloco }}
	</p>
</div>

<kyc-document-errors-display
	class="mt-16 w-1/2"
	*ngIf="errorContent.message"
	[errorContent]="errorContent"
	[attempts]="attempts"
	[attemptsLimit]="attemptsLimit"
	[callback]="onErrorCallback"
>
</kyc-document-errors-display>

<div *ngIf="failedToDetectDocument" fxLayout="column" fxLayoutAlign="center center" class="id-scanning-error-div">
	<img
		[src]="attemptsLimit - attempts > 0 ? 'https://cdn.verifik.co/demo/failedtodetectdocument@3x.png' : 'https://cdn.verifik.co/demo/redstop.svg'"
		alt=""
		class="id-scanning-failed-document-img"
	/>

	<h1 class="mt-4" [style.color]="project.branding.titleColor">
		{{ (attemptsLimit - attempts > 0 ? "id_scanning.document_not_detected" : "id_scanning.failed_to_detect_limit") | transloco }}
	</h1>

	<p class="mt-4" [style.color]="project.branding.txtColor">
		{{
			(attemptsLimit - attempts > 0 ? "id_scanning.document_not_detected_description" : "id_scanning.failed_to_detect_limit_description")
				| transloco
		}}
	</p>

	<p class="mt-4" [style.color]="project.branding.txtColor" *ngIf="attemptsLimit - attempts > 0">
		{{ "id_scanning.remaining_attempts" | transloco }} {{ attemptsLimit - attempts }}
	</p>

	<button
		mat-raised-button
		color="primary"
		class="mt-4 z-index-2 id-scanning-try-again-button"
		(click)="attemptsLimit - attempts > 0 ? tryAgain(true) : restartDemo()"
		[style.color]="project.branding.buttonTxtColor"
		[style.background]="project.branding.buttonColor"
	>
		{{ (failedToDetectDocument ? "id_scanning.retry" : "restart") | transloco }}
	</button>
</div>
