<canvas #cardIdFace hidden></canvas>

<div
  [ngClass.gt-sm]="'h-full'"
  @fadeIn
  class="flex px-8 py-4"
  fxLayout="row"
  fxLayoutAlign="center center"
  fxLayout.lt-md="column"
  *ngIf="project && appRegistration"
>
  <smart-enroll-stepper
    fxFlex="25%"
    [project]="project"
    [stepIndex]="stepIndex"
    [method]="method"
  ></smart-enroll-stepper>

  <div
    fxFlex="50%"
    fxFlex.lt-lg="75%"
    fxFlex.lt-md="100%"
    fxLayout="column"
    fxLayoutAlign="center center"
  >
    <div
      class="smart-documents__card rounded-2xl bg-card m-4 p-6 mt-16 w-full"
      [ngClass]="
        stepIndex > 2
          ? 'smart-documents__card--xlarge'
          : 'smart-documents__card--large'
      "
      fxLayout="column"
      [style.border]="
        project.branding.borderColor
          ? '1px solid ' + project.branding.borderColor
          : ''
      "
      @fadeIn
      *ngIf="stepIndex < 5 && !(method === 'scan' && stepIndex < 3)"
    >
      <mat-card-title
        class="w-full"
        fxLayout="row"
        fxLayoutAlign="center space-between"
      >
        <div class="flex welcome__step-row mx-4">
          <p
            class="welcome__step"
            [style.backgroundColor]="
              stepIndex % 2 === 1 ? project.branding.bgColor : ''
            "
            [style.color]="stepIndex <= 1"
          >
            <span *ngIf="stepIndex <= 1">1</span>
            <mat-icon svgIcon="feather:check" *ngIf="stepIndex > 1"></mat-icon>
          </p>

          <p class="mt-0.5">
            {{ "smart_enroll.documents.upload.frontside" | transloco }}
          </p>
        </div>

        <div class="flex welcome__step-row mx-4" *ngIf="requiresBack">
          <p
            class="welcome__step"
            [style.backgroundColor]="
              stepIndex % 2 !== 1 ? project.branding.bgColor : ''
            "
            [style.color]="stepIndex <= 2"
          >
            <span *ngIf="stepIndex <= 2">2</span>
            <mat-icon svgIcon="feather:check" *ngIf="stepIndex > 2"></mat-icon>
          </p>

          <p class="mt-0.5">
            {{ "smart_enroll.documents.upload.backside" | transloco }}
          </p>
        </div>
      </mat-card-title>

      <mat-card-content
        class="w-full mt-4"
        fxLayout="column"
        fxLayoutAlign="start center"
        @fadeIn
        *ngIf="isActiveStep(1) || isActiveStep(2)"
      >
        <div
          (fileDropped)="onFileDropped($event)"
          [style.background]="project.branding.bgColor"
          class="rounded-2xl p-8 w-full drag-and-drop"
          dragAndDrop
          fxLayout="column"
          fxLayoutAlign="center center"
        >
          <div
            class="drag-and-drop__loader"
            *ngIf="fileProgress > 0 && fileProgress !== 100"
          >
            <mat-progress-bar
              [value]="fileProgress"
              mode="determinate"
            ></mat-progress-bar>
          </div>

          <div
            class="drag-and-drop__loader-overlay"
            fxLayout="row"
            fxLayoutAlign="center center"
            *ngIf="isExtracting || errorResult"
          >
            <div fxLayout="column" fxLayoutAlign="center center" *ngIf="isExtracting">
              <mat-progress-spinner
                diameter="36"
                mode="indeterminate"
              ></mat-progress-spinner>

              <p class="mt-4">
                {{ "smart_enroll.extracting_data" | transloco }}...
              </p>
            </div>

            <div fxLayout="column" fxLayoutAlign="center center" *ngIf="errorResult">
              <p class="mt-4 red-500 text-center">
                {{ "id_scanning." + errorContent.message | transloco }}
              </p>
            </div>
          </div>

          <div
            [ngClass]="file ? 'hidden' : ''"
            fxLayout="column"
            fxLayoutAlign="center center"
          >
            <input
              (change)="fileBrowseHandler($event.target.files)"
              #fileInput
              accept=".jpg, .jpeg, .png"
              type="file"
            />

            <mat-icon
              [style.color]="project.branding.buttonColor"
              class="welcome__icon welcome__icon--medium"
              >file_upload</mat-icon
            >

            <p class="font-medium mt-4">
              {{ "step_two.drag_n_drop_title" | transloco }}
            </p>
          </div>

          <div *ngIf="file" fxLayout="column" fxLayoutAlign="center center">
            <img
              class="drag-and-drop__preview"
              [src]="base64Image"
              *ngIf="base64Image"
            />

            <mat-icon
              [style.color]="project.branding.buttonColor"
              class="welcome__icon welcome__icon--medium"
              *ngIf="errorContent"
              >error</mat-icon
            >

            <div class="drag-and-drop__data" *ngIf="!errorContent">
              <div
                fxLayout="row"
                fxLayoutAlign="space-between"
              >
                <h4 class="mr-4">{{ file?.name }}</h4>
                <p>{{ formatBytes(file?.size) }}</p>
              </div>
            </div>
          </div>
        </div>

        <button
          (click)="fileInput.click()"
          [style.background]="project.branding.buttonColor"
          [style.color]="project.branding.buttonTxtColor"
          *ngIf="!file"
          class="fuse-mat-button w-full mt-6"
          mat-flat-button
        >
          <span *ngIf="isActiveStep(1)">{{
            "smart_enroll.documents.upload.upload_frontside" | transloco
          }}</span>
          <span *ngIf="isActiveStep(2)">{{
            "smart_enroll.documents.upload.upload_backside" | transloco
          }}</span>
        </button>

        <button
          (click)="resetFileUpload()"
          [disabled]="isExtracting"
          [style.background]="
            errorContent && !isExtracting ? project.branding.buttonColor : ''
          "
          [style.border]="
            errorContent || isExtracting
              ? 'none'
              : '1px solid' + project.branding.buttonColor
          "
          [style.color]="
            errorContent && !isExtracting
              ? project.branding.buttonTxtColor
              : project.branding.buttonColor
          "
          *ngIf="file"
          class="fuse-mat-button w-full mt-6"
          mat-flat-button
        >
          {{ "smart_enroll.documents.upload.again" | transloco }}
        </button>

        <div
          class="smart-documents__heading text-center w-full"
          fxLayout="column"
          fxLayoutAlign="center center"
        >
          <div
            class="w-full mt-8"
            fxLayout="row"
            fxLayoutAlign="space-between"
            *ngIf="stepIndex < 5"
          >
            <div
              fxFlex="33%"
              fxLayout="row"
              fxLayoutAlign="center"
              [style.color]="project.branding.txtColor"
            >
              <mat-icon
                class="mr-4"
                svgIcon="fa_solid:passport"
                [style.color]="project.branding.txtColor"
              ></mat-icon>

              <p class="font-medium">
                {{ "smart_enroll.documents.upload.passport" | transloco }}
              </p>
            </div>

            <div class="text-secondary">|</div>

            <div
              fxFlex="33%"
              fxLayout="row"
              fxLayoutAlign="center"
              [style.color]="project.branding.txtColor"
            >
              <mat-icon
                class="mr-4"
                svgIcon="fa_regular:id-card"
                [style.color]="project.branding.txtColor"
              ></mat-icon>

              <p class="font-medium">
                {{ "smart_enroll.documents.upload.driver_license" | transloco }}
              </p>
            </div>

            <div class="text-secondary">|</div>

            <div
              fxFlex="33%"
              fxLayout="row"
              fxLayoutAlign="center"
              [style.color]="project.branding.txtColor"
            >
              <mat-icon
                class="mr-4"
                svgIcon="fa_regular:address-card"
                [style.color]="project.branding.txtColor"
              ></mat-icon>

              <p class="font-medium">
                {{ "smart_enroll.documents.upload.id" | transloco }}
              </p>
            </div>
          </div>
        </div>

        <p class="mt-8 text-center">
          {{
            "smart_enroll.documents.upload.identification_document_tip"
              | transloco
          }}
        </p>
      </mat-card-content>

      <mat-card-content
        class="w-full mt-4"
        fxLayout="column"
        fxLayoutAlign="start center"
        @fadeIn
        *ngIf="isActiveStep(3) || isActiveStep(4)"
      >
        <div fxLayout="row" fxLayout.lt-md="column" fxFill fxLayoutGap="24px">
          <div class="ocr w-full" fxLayout="column" fxFlex="calc(50% - 24px)">
            <div
              class="ocr__image rounded-2xl"
              [style.background]="project.branding.background"
            >
              <img
                class="drag-and-drop__preview"
                [src]="base64Image"
                *ngIf="base64Image"
              />
            </div>

            <button
              (click)="goToStep(1)"
              [style.border]="'1px solid ' + project.branding.buttonColor"
              [style.color]="project.branding.buttonColor"
              class="fuse-mat-button-large mt-6"
              mat-flat-button
            >
              {{ "smart_enroll.documents.upload.again" | transloco }}
            </button>

            <div
              [style.background]="project.branding.bgColor"
              class="rounded-2xl p-4 mt-4"
              fxLayout="column"
            >
              <h4 class="font-medium text-xl">
                {{
                  "smart_enroll.documents.upload.document_template" | transloco
                }}
              </h4>

              <p class="ocr__subtitle mt-4">
                {{ "smart_enroll.documents.upload.template_id" | transloco }}
              </p>

              <p class="ocr__template-value">Columbia - National</p>

              <p class="ocr__subtitle mt-4">
                {{ "smart_enroll.documents.upload.platform" | transloco }}
              </p>

              <p class="ocr__template-value">Government Issued...ng</p>
            </div>
          </div>

          <div class="w-full" fxLayout="column" fxFlex="calc(50% - 24px)">
            <h4 class="font-medium text-xl">
              {{
                "smart_enroll.documents.upload.extracted_information"
                  | transloco
              }}
            </h4>

            <div
              class="ocr__line ocr__line--border"
              fxLayout="row"
              fxLayoutAlign="space-between center"
              *ngFor="let item of documentResponse.OCRExtraction | keyvalue"
            >
              <p class="ocr__label">
                {{ "extracted_information." + item.key | transloco }}
              </p>

              <p class="ocr__value text-right">{{ item.value }}</p>
            </div>

            <h4 class="font-medium text-xl mt-8">
              {{
                "smart_enroll.documents.upload.process_information" | transloco
              }}
            </h4>

            <div
              class="ocr__line"
              fxLayout="row"
              fxLayoutAlign="space-between center"
            >
              <p class="ocr__label">
                {{ "general_information.device" | transloco }}
              </p>
              <p class="ocr__value">Samsung</p>
            </div>
          </div>
        </div>
      </mat-card-content>

      <div fxLayout="column" fxFlex="1 1 0 auto"></div>

      <mat-card-actions
        class="mt-12"
        fxLayout="row"
        fxLayoutAlign="space-between end"
      >
        <button
          (click)="goPrevious()"
          [style.border]="'1px solid ' + project.branding.buttonColor"
          [style.color]="project.branding.buttonColor"
          class="fuse-mat-button-large mt-6"
          mat-flat-button
        >
          <span *ngIf="stepIndex === 1">{{ "cancel" | transloco }}</span>
          <span *ngIf="stepIndex > 1">{{ "previous" | transloco }}</span>
        </button>

        <button
          (click)="goNext()"
          [disabled]="!isContinueActive()"
          [style.background]="
            isContinueActive() ? project.branding.buttonColor : ''
          "
          [style.color]="
            isContinueActive() ? project.branding.buttonTxtColor : ''
          "
          class="fuse-mat-button-large mt-6"
          mat-flat-button
        >
          <span *ngIf="stepIndex === 4">{{ "continue" | transloco }}</span>
          <span *ngIf="stepIndex >= 1 && stepIndex < 4">{{
            "next" | transloco
          }}</span>
        </button>
      </mat-card-actions>
    </div>

    <div
      class="biometrics"
      @fadeIn
      *ngIf="stepIndex > 4 || (method === 'scan' && stepIndex < 3)"
    >
      <id-scanning-ios *ngIf="demoData.OS == 'IOS'"></id-scanning-ios>

      <id-scanning
        (onNext)="goNext()"
        (onPrevious)="goPrevious()"
        [source]="stepIndex < 3 ? 'document' : 'face'"
        *ngIf="demoData.OS != 'IOS'"
        class="w-full h-full"
        fxLayoutAlign="center center"
      >
        <h5
          class="text-3xl font-medium mt-6 text-center"
          [style.color]="project.branding.titleColor"
          *ngIf="method === 'upload'"
          title
        >
          {{ "smart_enroll.biometric_register" | transloco }}
        </h5>

        <h5
          class="text-3xl font-medium mt-6 text-center"
          [style.color]="project.branding.titleColor"
          *ngIf="method === 'scan' && (isActiveStep(1) || isActiveStep(2))"
          title
        >
          {{ "smart_enroll.documents.scan.scan_front" | transloco }}
        </h5>

        <h5
          class="text-3xl font-medium mt-6 text-center"
          [style.color]="project.branding.titleColor"
          *ngIf="method === 'scan' && (isActiveStep(3) || isActiveStep(4))"
          title
        >
          {{ "smart_enroll.documents.scan.scan_back" | transloco }}
        </h5>
      </id-scanning>
    </div>
  </div>

  <div fxFlex="25%" fxFlex.lt-lg="0"></div>
</div>
