<div fxLayout="column" fxLayoutAlign="center center" class="w-full">
	<div
		class="id-details-body w-full"
		fxLayout="row"
		fxLayout.xs="column"
		fxLayoutAlign="start start"
		fxLayoutAlign.xs="center center"
		*ngIf="!selectOption"
	>
		<!-- first section -->
		<div class="w-50p upload-file-section" fxLayout="column" fxLayoutAlign="start center" fxLayoutAlign.xs="start center">
			<h2 class="title-margin" [style.color]="project.branding.titleColor">
				{{ "step_two.file_description" | transloco }}
			</h2>

			<div class="kyc-document-instruction-card" fxLayout="column" fxLayoutAlign="space-between center">
				<img src="https://cdn.verifik.co/demo/anverso2x.png" class="" alt="" />

				<!-- steps here -->
				<div fxLayout="column" fxLayoutAlign="start start" class="w-full">
					<p *ngFor="let step of uploadSteps; let index = index" fxLayout="row" fxLayoutAlign="start center" class="m-1">
						<span class="instruction-number">
							{{ index + 1 }}
						</span>

						<span>
							{{ step }}
						</span>
					</p>
				</div>

				<button
					[style.background]="project.branding.buttonColor"
					[style.color]="project.branding.buttonTxtColor"
					mat-raised-button
					color="primary"
					class="mb-5"
					(click)="openUploadFile()"
				>
					{{ "step_two.file" | transloco }}
				</button>
			</div>
		</div>
		<!-- end of first section -->

		<div class="w-50p scan-file-section" fxLayout="column" fxLayoutAlign="start center" fxLayoutAlign.xs="start center">
			<h2 class="title-margin" [style.color]="project.branding.titleColor">
				{{ "step_two.manual_description" | transloco }}
			</h2>

			<div class="kyc-document-instruction-card" fxLayout="column" fxLayoutAlign="space-between center">
				<img src="https://cdn.verifik.co/demo/scan2x.png" />

				<!-- steps here -->
				<div fxLayout="column" fxLayoutAlign="start start" class="w-full">
					<p *ngFor="let step of scanSteps; let index = index" fxLayout="row" fxLayoutAlign="start center" class="m-1">
						<span class="instruction-number">
							{{ index + 1 }}
						</span>

						<span>
							{{ step }}
						</span>
					</p>
				</div>

				<button
					[style.background]="project.branding.buttonColor"
					[style.color]="project.branding.buttonTxtColor"
					mat-raised-button
					color="primary"
					class="mb-5"
					(click)="openCamera()"
				>
					{{ "step_two.manual" | transloco }}
				</button>
			</div>
		</div>
	</div>

	<div class="white-background" *ngIf="!selectOption" fxHide.xs="true"></div>

	<id-scanning-ios
		*ngIf="selectOption === 'idscan' && demoData.OS == 'IOS'"
		fxLayoutAlign="center center"
		class="w-full h-full mb-6"
	></id-scanning-ios>

	<id-scanning *ngIf="selectOption === 'idscan' && demoData.OS != 'IOS'" fxLayoutAlign="center center" class="w-full h-full mb-6"></id-scanning>
</div>
