<!-- step one -->
<div
	class="step-one-main-div"
	fxLayout="column"
	fxLayoutAlign="start center"
	*ngIf="appRegistration && project && projectFlow && acceptanceForm && !loading"
>
	<!-- image on the left of business woman -->
	<div fxLayout="column" fxLayoutAlign="center center" class="step-one-middle-container">
		<h1 [style.color]="project.branding.titleColor">{{ "signup.instructions_step.title" | transloco }}</h1>

		<p [style.color]="project.branding.txtColor" class="p-1">
			{{ "signup.instructions_step.header" | transloco }}
		</p>

		<p class="p-2" [style.color]="project.branding.txtColor">
			{{ "signup.instructions_step.subtitle" | transloco }}
		</p>
	</div>

	<div class="step-one-woman-and-options" fxLayout="column" fxLayoutAlign="center center">
		<!-- scanning options -->
		<div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center" class="steps-in-cards" fxLayoutWrap="true">
			<!-- steps -->
			<div fxLayout="column" fxLayoutAlign="start center" *ngFor="let step of navigation.displayableSteps; let i = index">
				<div class="step-one-card" fxLayout="column" fxLayoutAlign="start center">
					<div class="step-one-card-image" fxLayout="row" fxLayoutAlign="center center">
						<img src="https://cdn.verifik.co/demo/x2Step2.png" alt="" class="id_in_card_img" *ngIf="step.code === 'documentReview'" />

						<img src="https://cdn.verifik.co/demo/id_in_card.png" alt="" class="id_in_card_img" *ngIf="step.code === 'document'" />

						<img src="https://cdn.verifik.co/demo/x2Step3.png" alt="" class="id_in_card_img" *ngIf="step.code === 'liveness'" />

						<img src="https://cdn.verifik.co/demo/x2Step4.png" alt="" class="id_in_card_img" *ngIf="step.code === 'end'" />
					</div>

					<h3 class="mt-4 text-center m-2" *ngIf="step.code === 'liveness'">{{ "step_one.cards.liveness" | transloco }}</h3>

					<h3 class="mt-4 text-center m-2" *ngIf="step.code === 'end'">{{ "step_one.cards.compare" | transloco }}</h3>

					<h3 class="mt-4 text-center" *ngIf="step.code === 'documentReview'">{{ "step_one.cards.verify_id" | transloco }}</h3>

					<h3 class="mt-4" *ngIf="step.code === 'document'">{{ "step_one.cards.id" | transloco }}</h3>
				</div>
				<p class="step-one-circle" [style.background]="project.branding.buttonColor" [style.color]="project.branding.buttonTxtColor">
					{{ i + 1 }}
				</p>
			</div>

			<!-- <div fxLayout="column" fxLayoutAlign="start center">
				<div class="step-one-card" fxLayout="column" fxLayoutAlign="start center">
					<div class="step-one-card-image" fxLayout="row" fxLayoutAlign="center center">
						<img src="https://cdn.verifik.co/demo/x2Step2.png" alt="" class="id_in_card_img" />
					</div>

					<h3 class="mt-4 text-center">{{ "step_one.cards.verify_id" | transloco }}</h3>
				</div>
				<p class="step-one-circle">2</p>
			</div> -->

			<!-- <div fxLayout="column" fxLayoutAlign="start center">
				<div class="step-one-card" fxLayout="column" fxLayoutAlign="start center">
					<div class="step-one-card-image" fxLayout="row" fxLayoutAlign="center center">
						<img src="https://cdn.verifik.co/demo/x2Step3.png" alt="" class="id_in_card_img" />
					</div>

					<h3 class="mt-4 text-center m-2">{{ "step_one.cards.liveness" | transloco }}</h3>
				</div>
				<p class="step-one-circle">3</p>
			</div> -->

			<!-- <div fxLayout="column" fxLayoutAlign="start center">
				<div class="step-one-card" fxLayout="column" fxLayoutAlign="start center">
					<div class="step-one-card-image" fxLayout="row" fxLayoutAlign="center center">
						<img src="https://cdn.verifik.co/demo/x2Step4.png" alt="" class="id_in_card_img" />
					</div>

					<h3 class="mt-4 text-center m-2">{{ "step_one.cards.compare" | transloco }}</h3>
				</div>

				<p class="step-one-circle">4</p>
			</div> -->
		</div>

		<!-- Legal Agreement -->
		<form [formGroup]="acceptanceForm" novalidate fxLayout="column">
			<mat-checkbox formControlName="legalAgreement" *ngIf="project.termsAndConditionsUrl || project.privacyUrl">
				<span [style.color]="project.branding.txtColor">
					{{ "signup.agreement1" | transloco }}
				</span>

				<a [href]="project.termsAndConditionsUrl" *ngIf="project.termsAndConditionsUrl" target="_blank">{{ "signup.terms" | transloco }}</a>

				<span *ngIf="project.termsAndConditionsUrl && project.privacyUrl" class="mr-1" [style.color]="project.branding.txtColor">
					{{ "signup.and" | transloco }}</span
				>

				<a [href]="project.privacyUrl" *ngIf="project.privacyUrl" target="_blank">{{ "signup.privacyPolicy" | transloco }}</a>
			</mat-checkbox>

			<div fxLayout="column" class="accept-terms-container" fxLayoutAlign="start center">
				<button
					mat-raised-button
					class="mt-8 z-index-2 start-demo-button"
					(click)="startKYC()"
					[disabled]="invalidForm()"
					[style.background]="project.branding.buttonColor"
					[style.color]="project.branding.buttonTxtColor"
				>
					{{ "signup.instructions_step.button" | transloco }}
				</button>
			</div>
		</form>
	</div>
</div>
