<div
  class="w-full px-4 py-4 m-auto"
  fxLayout="row"
  fxLayoutAlign="center center"
  fxLayout.lt-md="column"
  fxLayoutAlign.lt-md="start center"
>
  <mat-card-header class="-ml-4 mb-4" ngClass.gt-sm="hidden" ngClass.lt-md="w-full">
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <button
        (click)="onPreviousStep()"
        ngClass.gt-sm="hidden"
        mat-flat-button
      >
        <mat-icon svgIcon="mat_solid:arrow_back"></mat-icon>
        <span class="ml-2">{{ "cancel" | transloco }}</span>
      </button>

      <smart-stepper></smart-stepper>
    </div>
  </mat-card-header>

  <div
    fxFlex="50%"
    fxFlex.lt-lg="75%"
    fxFlex.lt-md="100%"
    fxLayout="column"
    fxLayoutAlign="center center"
  >
    <div
      class="smart-documents__card smart-documents__card--xlarge rounded-2xl bg-card mt-4 w-full"
      fxLayout="column"
      [ngStyle.gt-sm]="{ border: '1px solid ' + project.branding.borderColor }"
      ngClass.gt-sm="p-6 m-4"
    >
      <mat-card-title
        class="w-full"
        fxLayout="row"
        fxLayoutAlign="center space-between"
      >
        <h5
          class="text-3xl font-medium"
          ngClass.gt-sm="mt-2"
          [style.color]="project.branding.titleColor"
        >
          {{ "smart_enroll.documents.document_review_title" | transloco }}
        </h5>
      </mat-card-title>

      <mat-card-content
        class="w-full mt-8"
        fxLayout="column"
        fxLayoutAlign="start center"
      >
        <div fxLayout="row" fxLayout.lt-md="column" fxFill fxLayoutGap="24px">
          <div class="ocr w-full" fxLayout="column" fxFlex="calc(50% - 24px)">
            <div
              class="ocr__image rounded-2xl"
              [style.background]="project.branding.background"
              [style.backgroundImage]="
                'url(' + appRegistration.documentValidation.url + ')'
              "
              *ngIf="appRegistration.documentValidation.url"
            ></div>

            <div
              class="mt-6 ocr__image rounded-2xl"
              [style.background]="project.branding.background"
              [style.backgroundImage]="
                'url(' + appRegistration.documentValidation.backUrl + ')'
              "
              *ngIf="appRegistration.documentValidation.backUrl"
            ></div>

            <button
              (click)="onTryAgain()"
              [style.border]="'1px solid ' + project.branding.buttonColor"
              [style.color]="project.branding.buttonColor"
              class="fuse-mat-button-large mt-6"
              mat-flat-button
            >
              {{ "smart_enroll.documents.upload.again" | transloco }}
            </button>

            <div
              class="ocr__errors rounded-2xl mt-6"
              *ngIf="showErrors"
              fxLayoutGap="24px"
              fxLayout="column"
            >
              <p class="text-md" *ngIf="errors.mandatory">{{ 'errors.document.mandatory' | transloco }}</p>
              <p class="text-md" *ngIf="errors.incomplete">{{ 'errors.document.incomplete' | transloco }}</p>
              <p class="text-md" *ngIf="errors.requiresBack">{{ 'errors.document.requires_back' | transloco }}</p>
              <p class="text-md" *ngIf="errors.namesDoNotMatch">{{ 'errors.document.names_do_not_match' | transloco }}</p>
            </div>
          </div>

          <div class="w-full" fxLayout="column" fxFlex="calc(50% - 24px)">
            <h4 class="font-medium text-xl">
              {{
                "smart_enroll.documents.upload.extracted_information"
                  | transloco
              }}
            </h4>

            <div
              class="ocr__line ocr__line--border"
              fxLayout="row"
              fxLayoutAlign="space-between center"
              *ngFor="
                let item of appRegistration?.documentValidation?.OCRExtraction
                  | keyvalue
              "
            >
              <p class="ocr__label mr-2">
                {{ "extracted_information." + item.key | transloco }}
              </p>

              <p class="ocr__value text-right">{{ item.value }}</p>
            </div>
          </div>
        </div>
      </mat-card-content>

      <div fxLayout="column" fxFlex="1 1 0 auto"></div>

      <mat-card-actions
        class="mt-12"
        fxLayout="row"
        fxLayoutAlign.gt-sm="space-between end"
        fxLayoutAlign="end end"
      >
        <button
          (click)="onPreviousStep()"
          [style.border]="'1px solid ' + project.branding.buttonColor"
          [style.color]="project.branding.buttonColor"
          class="fuse-mat-button-large"
          mat-flat-button
          ngClass.lt-md="hidden"
        >
          <span>{{ "previous" | transloco }}</span>
        </button>

        <button
          (click)="onNextStep()"
          [disabled]="!canContinue()"
          ngClass.lt-md="w-full"
          [style.background]="
            canContinue()
              ? project.branding.buttonColor
              : ''
          "
          [style.color]="
            canContinue()
              ? project.branding.buttonTxtColor
              : ''
          "
          class="fuse-mat-button-large"
          mat-flat-button
        >
          <span>{{ "continue" | transloco }}</span>
        </button>
      </mat-card-actions>
    </div>
  </div>

  <div fxFlex="25%" fxFlex.lt-lg="0"></div>
</div>
