<div fxLayout="column" fxLayoutAlign="start start">
	<div class="verifik-stepper" fxLayout="row" fxLayoutAlign="space-between center">
		<div fxLayout="row" fxLayoutAlign="start center">
			<span>1</span>
			<span> ID Scanning </span>
		</div>

		<div fxLayout="row" fxLayoutAlign="start center">
			<span class="step-one-circle">2</span>
			<span>Document Details</span>
		</div>

		<div fxLayout="row" fxLayoutAlign="start center">
			<span>3</span>
			<span>Liveness check</span>
		</div>

		<div fxLayout="row" fxLayoutAlign="start center">
			<span>4</span>
			<span>Results</span>
		</div>
	</div>
</div>
