<div fxLayout="column" fxLayoutAlign="center center" class="w-full">
	<app-stepper class="w-full"></app-stepper>

	<div
		class="id-details-body w-full"
		fxLayout="row"
		fxLayout.xs="column"
		fxLayoutAlign="start start"
		fxLayoutAlign.xs="center center"
		*ngIf="!selectOption"
	>
		<!-- first section -->
		<div class="w-50p upload-file-section" fxLayout="column" fxLayoutAlign="start center" fxLayoutAlign.xs="start center">
			<h2 class="title-margin">
				{{ "step_two.file_description" | transloco }}
			</h2>

			<img src="https://cdn.verifik.co/demo/anverso2x.png" class="upload-img" alt="" />

			<button mat-raised-button color="primary" class="mb-5" (click)="openUploadFile()">
				{{ "step_two.file" | transloco }}
			</button>
		</div>
		<!-- end of first section -->

		<div class="w-50p scan-file-section" fxLayout="column" fxLayoutAlign="start center" fxLayoutAlign.xs="start center">
			<h2 class="title-margin">
				{{ "step_two.manual_description" | transloco }}
			</h2>

			<img src="https://cdn.verifik.co/demo/scan2x.png" alt="" class="scan-img" />
			<button mat-raised-button color="primary" class="mb-5" (click)="openCamera()">
				{{ "step_two.manual" | transloco }}
			</button>
		</div>
	</div>

	<div class="white-background" *ngIf="!selectOption" fxHide.xs="true"></div>

	<id-scanning-ios *ngIf="selectOption === 'idscan' && demoData.OS == 'IOS'" fxLayoutAlign="center center" class="w-full h-full mb-6"></id-scanning-ios>
	<id-scanning *ngIf="selectOption === 'idscan' && demoData.OS != 'IOS'" fxLayoutAlign="center center" class="w-full h-full mb-6"></id-scanning>
</div>
