.spinner {
    width: 200px !important; 
    height: 200px !important;
    z-index: 2;
}

.background-spinner {
    position: relative;
    z-index: 1;
    bottom: 200px;
    width: 200px !important; 
    height: 200px !important;
}

.negative-margin-100 {
    margin-bottom: -150px;
}

.stats-section {
    margin-top: 30px;
}

.liveness-section {
    margin-bottom: -40px;
}

.liveness-title {
    position: relative;
    left: 30px;
}

.match-title {
    position: relative;
    left: 40px;
}

.stat-percent {
    font-weight: 800;
    position: relative;
    z-index: 1;
    top: 90px;
    left: 60px;
    font-size: 40px;
    color: #0036E7;
}

.button-section {
    width: 70%;
}

.restart-demo-button {
    width: 60%;
}

// Extra small screens
@media (max-width: 599px) {
}

// Small screens
@media (min-width: 600px) and (max-width: 959px) {
}

// Medium screens
@media (min-width: 960px) and (max-width: 1279px) {
}

// Large screens
@media (min-width: 1280px) and (max-width: 1919px) {
}

// Extra large screens
@media (min-width: 1920px) {
}
