.w-400 {
	width: 400px !important;
}

mat-form-field {
	padding-right: 4px !important;
}

.mat-mdc-tab-label-container {
	margin: 0 !important;
}

mat-tab-body {
	.mat-mdc-tab-body-content {
		padding-left: 0 !important;
		padding-right: 0 !important;
		padding-top: 8px !important;
		padding-bottom: 5px !important;
	}
}

.w-120px {
	width: 60% !important;
}
