.main-logo {
	position: absolute;
	top: 10px;
	left: 20px;
	z-index: 0;
}

.w-400 {
	width: 400px !important;
}

bg-white {
	background-color: white;
}

.sign-in-content {
	z-index: 2 !important;
}

.credits-h2 {
	font-size: 24px;
	text-align: center;
}

.credits-h3 {
	font-size: 16px;
	text-align: center;
	font-weight: 600;
	color: grey;
}

.biometrics-button {
	background-color: #82269e;
	color: white !important;
}

mat-form-field {
	padding-right: 4px !important;
}

.mat-mdc-tab-label-container {
	margin: 0 !important;
}

mat-tab-body {
	.mat-mdc-tab-body-content {
		padding-left: 0 !important;
		padding-right: 0 !important;
		padding-top: 8px !important;
		padding-bottom: 5px !important;
	}
}

.w-120px {
	width: 60% !important;
}

.main-div {
	padding: 2rem;
}

.half-width-image {
	width: 50vw; /* vw stands for viewport width */
	object-fit: fill;
	height: 100%;
}

.full-size-image {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.left-card-inner-div {
	max-width: 20rem;
}

/* For mobile devices (up to 599px) */
@media (max-width: 599px) {
	.main-div {
		padding: 4px;
	}

	.whole-card {
		width: 90%;
	}

	.left-card {
		width: 100% !important;

		.left-card-inner-div {
			width: 90% !important;
			max-width: 90% !important;
			padding-left: 8px;
			padding-right: 8px;
			padding-top: 12px;
			padding-bottom: 12px;
		}
	}
}

/* For small tablets (600px to 767px) */
@media (min-width: 600px) and (max-width: 767px) {
	.whole-card {
		width: 70%;
	}

	.left-card {
		width: 100% !important;

		.left-card-inner-div {
			width: 90% !important;
			max-width: 90% !important;
			padding: 24px;
		}
	}
}

/* For (700 to 959px) */
@media (min-width: 768px) and (max-width: 959px) {
	.whole-card {
		width: 60%;
	}

	.left-card {
		width: 100% !important;

		.left-card-inner-div {
			width: 90% !important;
			max-width: 90% !important;
			padding: 24px;
		}
	}
}

/* For tablets (768px to 1023px) */
@media (min-width: 768px) and (max-width: 1023px) {
	.left-card {
		width: 50%;
	}
}

/* For small laptops (1024px to 1279px) */
@media (min-width: 1024px) and (max-width: 1249px) {
	.whole-card {
		width: 98%;
		max-height: 93vh !important;
	}

	.left-card {
		width: 47% !important;

		.left-card-inner-div {
			width: 90% !important;
			max-width: 90% !important;
		}
	}
}

/* For small laptops (1024px to 1279px) */
@media (min-width: 1250px) and (max-width: 1499px) {
	.whole-card {
		width: 85%;
		max-height: 93vh !important;
	}

	.left-card {
		width: 42% !important;

		.left-card-inner-div {
			width: 100% !important;
			max-width: 100% !important;
		}
	}
}

/* For desktops (1280px and above) */
@media (min-width: 1500px) {
	.main-div {
		padding: 1rem !important;
	}

	.whole-card {
		width: 75%;
		max-height: 94.5vh !important;
	}

	.left-card {
		width: 40% !important;

		.left-card-inner-div {
			width: 100% !important;
			max-width: 100% !important;
			padding-top: 20px;
			padding-left: 20px;
			padding-bottom: 10px;
			padding-right: 20px;
		}
	}
}
