<canvas #credentialCanvas hidden="true"></canvas>
<img id="credential" [src]="idCardImage" hidden="true"/>

<div fxLayout="column" fxLayoutAlign="center center" class="min-h-[60vh] justify-center p-4 sm:p-1 xs:p-1 w-full">
	<div fxLayout="column" fxLayoutAlign="center center" class="justify-center w-full" *ngIf="!loadingModel" >
		<div fxLayout="column" fxLayoutAlign="center center" class="justify-center text-center h-20 my-2">
			<div *ngIf="errorFace && !loadingResults">
				<div class="text-3xl font-bold">{{ errorFace.title }}</div>
				<div class="text-gray-600">{{ errorFace.subtitle }}</div>
			</div>
		</div>

		<div class="relative w-full" [ngStyle]="{ 'width.px': WIDTH, 'height.px': HEIGHT }">
			<div class="relative w-full" [style.width.px]="WIDTH" [style.height.px]="HEIGHT">
				<video #video autoplay class="absolute top-0 left-0 oval-video w-full max-h-[80vh]" [class.hidden]="base64Image"></video>
				<div #canvas class="absolute top-0 left-0 oval-video" [class.hidden]="base64Image"></div>
				<canvas #result class="absolute top-0 left-0 oval-video" [class.hidden]="!base64Image"></canvas>
				<canvas #toSend class="absolute top-0 left-0" [class.hidden]="true"></canvas>
			</div>
		</div>
	</div>
</div>