<div [class.hidden]="showQrCode" ngClass.lt-md="min-h-full flex flex-col flex-grow">
    <div *ngIf="welcomeStyle === 0" fxLayout="column" fxLayoutAlign="start center" ngClass.lt-md="flex-grow">
        <div class="w-full mt-2 mb-4 ml-2" fxLayout="row" fxLayoutAlign="start center">
            <img [src]="project.branding.logo" class="w-12" />
        </div>

        <mat-chip
            [style.backgroundColor]="project.branding.bgColor"
            *ngIf="appRegistration.email"
            class="verify__chip verify__chip--large verify__chip--no-border"
            ngClass.lt-md="hidden"
        >
            <div fxLayout="row" fxLayoutAlign="center space-between">
                <mat-icon class="mr-2 verify__icon verify__icon--color-white" [style.backgroundColor]="project.branding.titleColor" matLeadingIcon
                    >email</mat-icon
                >

                <span [style.color]="project.branding.titleColor" class="mr-2">
                    {{ appRegistration.email }}
                </span>
            </div>
        </mat-chip>

        <h5 [style.color]="project.branding.titleColor" class="mt-4 text-3xl" ngClass.gt-sm="mt-6 text-center" ngClass.lt-md="w-full">
            {{ "welcome.title" | transloco : { projectName: project.name } }}
        </h5>

        <div class="mt-2" ngClass.gt-sm="text-center">
            <div>
                {{ "welcome.description" | transloco : { projectName: project.name } }}
            </div>
        </div>

        <form [formGroup]="agreementForm" #agreementNgForm="ngForm" ngClass.lt-md="flex flex-col flex-grow justify-end">
            <div fxLayout="row" fxLayoutAlign="center">
                <div class="welcome__step-column">
                    <div class="flex welcome__step-row" *ngFor="let step of stepInstructions; let i = index">
                        <p class="welcome__step">{{ i + 1 }}</p>
                        <p>{{ step }}</p>
                    </div>
                </div>
            </div>

            <div class="mt-4 bg-slate-100 rounded-2xl p-4 text-center" *ngIf="isVerifikProject">
                <div fxLayout="row" fxLayoutAlign="center center">
                    <img class="welcome__image" src="assets/images/ui/coins.png" alt="coins" />
                </div>

                <div class="mt-6 font-bold text-xl">
                    {{ "welcome.credits_subtitle" | transloco }}
                </div>

                <div>{{ "welcome.credits_description" | transloco }}</div>
            </div>

            <mat-checkbox class="mt-8" [formControlName]="'agreement'" [color]="'primary'">
                <span [style.color]="project.branding.txtColor">
                    {{ "welcome.agreement" | transloco }}
                </span>

                <a
                    [style.color]="project.branding.titleColor"
                    class="hover:underline"
                    href="https://docs.verifik.co/docs/terms-conditions/4s01oqa1z6oof-privacy-policy"
                >
                    <strong>{{ "welcome.agreement_link" | transloco }}</strong>
                </a>
            </mat-checkbox>

            <div class="mt-4" ngClass.lt-md="flex flex-col flex-grow justify-end">
                <button
                    (click)="skipKYC()"
                    *ngIf="
                        projectFlow.onboardingSettings.steps.document !== 'mandatory' && projectFlow.onboardingSettings.steps.liveness !== 'mandatory'
                    "
                    class="fuse-mat-button-large w-full mt-6"
                    mat-stroked-button
                    color="primary"
                    type="button"
                >
                    {{ "welcome.skip" | transloco }}
                </button>

                <button
                    (click)="goToKYCApp('')"
                    [disabled]="agreementForm.invalid"
                    class="fuse-mat-button-large w-full mt-2"
                    mat-flat-button
                    color="primary"
                    type="button"
                >
                    {{ "welcome.start_on_device" | transloco }}
                </button>

                <button
                    (click)="showQrCode = true"
                    *ngIf="device === 'DESKTOP'"
                    class="fuse-mat-button-large w-full mt-2"
                    mat-flat-button
                    color="primary"
                    type="button"
                >
                    <mat-icon matLeadingIcon>smartphone</mat-icon>
                    <span>{{ "welcome.continue_on_another" | transloco }}</span>
                </button>
            </div>
        </form>
    </div>

    <div
        *ngIf="welcomeStyle === 1"
        fxLayout="column"
        fxLayoutAlign="start center"
        fxLayoutAlign.lt-md="center center"
        ngClass.lt-md="flex-grow"
        ngClass.gt-sm="mt-2"
    >
        <mat-progress-spinner mode="indeterminate" diameter="48"></mat-progress-spinner>

        <div class="text-center" ngClass.gt-sm="mt-4">
            <div class="font-bold text-xl">{{ "welcome.enrolled_title" | transloco }}</div>
            <div>{{ "welcome.enrolled_subtitle" | transloco }}</div>
        </div>
    </div>

    <div
        *ngIf="welcomeStyle === 2"
        fxLayout="column"
        fxLayoutAlign="start center"
        fxLayoutAlign.lt-md="center center"
        ngClass.lt-md="flex-grow"
        ngClass.gt-sm="mt-2"
    >
        <div class="text-center w-full" ngClass.gt-sm="mt-4">
            <div class="font-bold text-xl">
                {{ "welcome.complete_title" | transloco }}
            </div>

            <div>{{ "welcome.complete_subtitle" | transloco }}</div>
        </div>
    </div>
</div>

<div class="mt-2" fxLayout="column" fxLayoutAlign="start center" ngClass.lt-md="flex-grow" [class.hidden]="!showQrCode">
    <div ngClass.gt-sm="text-center">
        <div class="font-bold text-xl">
            {{ "welcome.other_device_title" | transloco }}
        </div>

        <div>{{ "welcome.other_device_subtitle" | transloco }}</div>

        <div class="w-full" fxLayout="column" fxLayoutAlign="center center">
            <canvas class="m-8" #qrCodeCanvas height="400" width="400"></canvas>
        </div>
    </div>

    <div class="flex-grow w-full" fxLayout.lt-md="column" fxLayoutAlign.lt-md="start end">
        <button (click)="showQrCode = false" class="fuse-mat-button-large w-full" mat-stroked-button color="primary" type="button">
            {{ "go_back" | transloco }}
        </button>
    </div>
</div>
