<div
  [ngStyle.gt-sm]="{ backgroundColor: project.branding.bgColor }"
  @fadeIn
  *ngIf="project"
  class="app min-h-screen"
  fxLayout="column"
  fxLayoutAlign="center center"
>
  <main
    #appContent
    class="app__content min-h-screen"
    fxLayout="column"
    fxLayoutAlign="start center"
    ngClass.lt-md="flex-col flex-grow"
  >
    <section
      [style.borderBottom]="
        project.branding.borderColor
          ? '1px solid ' + project.branding.borderColor
          : ''
      "
      class="toolbar toolbar--top"
      ngClass.lt-md="hidden"
    >
      <div class="toolbar__logo">
        <img [src]="project.branding.logo" class="w-10" />
      </div>
    </section>

    <smart-documents
      @fadeIn
      *ngIf="currentStep === 'document'"
      class="app__page"
    ></smart-documents>

    <smart-documents-review
      @fadeIn
      *ngIf="currentStep === 'document-review'"
      class="app__page"
    ></smart-documents-review>

    <smart-biometrics
      @fadeIn
      *ngIf="currentStep === 'biometric'"
      class="app__page"
    ></smart-biometrics>

    <smart-results
      @fadeIn
      *ngIf="currentStep === 'result'"
      class="app__page"
    ></smart-results>

    <section
      [ngStyle.gt-sm]="{
        borderTop: project.branding.borderColor
          ? '1px solid ' + project.branding.borderColor
          : ''
      }"
      fxLayout.gt-sm="row"
      fxLayoutAlign.gt-sm="center"
      ngClass.gt-sm="toolbar toolbar--bottom"
      ngClass.lt-md="py-2 text-center z-20"
    >
      <div fxLayout="column" fxLayoutAlign="center">
        <p ngClass.lt-md="font-small">
          Verifik &#169; {{ "smart_enroll.copyright" | transloco : { year } }}
          <a href="" target="_blank">{{
            "smart_enroll.terms_and_cond" | transloco
          }}</a>
        </p>
      </div>
    </section>
  </main>
</div>
