<div class="flex-auto overflow-y-auto mx-auto poppins" cdkScrollable *ngIf="form">
    <div class="prose prose-sm max-w-3xl mx-auto sm:my-2 overflow-hidden">
        <div class="prose prose-sm max-w-3xl mx-auto sm:my-2 overflow-hidden">
            <h1 class="verifikH1">
                {{ form.title | transloco }}
            </h1>
        </div>
        <!-- <mat-stepper *ngIf="questions && sectionOrder" labelPosition="bottom" #stepper>
            <mat-step *ngFor="let section of sectionOrder; let i = index"> -->
        <div class="w-full bg-card shadow-lg p-8 mt-4 rounded-2xl">
            <div class="w-full" *ngFor="let section of sectionOrder; let i = index">
                <div *ngIf="section != 'starting'">
                    <span class="verifikH3">
                        {{section}}
                    </span>
                </div>
                <form class="mt-1" [formGroup]="formAnwsers[section]">
                    <ng-container *ngFor="let question of formAnwsers[section].controls  | keyvalue; let j = index">
                        <ng-container>
                            <!-- <p>{{question.key}}</p> -->
                            <mat-form-field class="w-full" *ngIf="question">
                                <mat-label class="project-color label-size">
                                    {{returnQuestionData(section, question.key, 'label')}}</mat-label>
                                <ng-container *ngIf="returnQuestionData(section, question.key, 'type') != 'select'">
                                    <input id="question.key" matInput
                                        type="{{returnQuestionData(section, question.key, 'type')}}" #{{question.key}}
                                        placeholder="{{returnQuestionData(section, question.key, 'placeHolder')}}"
                                        [formControlName]="question.key">

                                </ng-container>
                                <ng-container *ngIf="returnQuestionData(section, question.key, 'type') == 'select'">
                                    <mat-select matInput formControlName="{{question.key}}" name="question.key">
                                        <mat-option
                                            *ngFor="let option of returnQuestionData(section, question.key, 'options')"
                                            [value]="option">{{option}}
                                            
                                        </mat-option>
                                    </mat-select>
                                </ng-container>
                                <mat-error class="p-1">
                                    {{ 'kyc.forms.error' | transloco }}
                                </mat-error>
                            </mat-form-field>
                        </ng-container>
                    </ng-container>
                </form>
            </div>
        </div>
      
    </div>
</div>