@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
::ng-deep .mat-horizontal-stepper-header{
    pointer-events: none !important;
}
.poppins{
    font-family: Poppins !important;

}
.project-color{
    color: rgba(1, 35, 109, 1) !important
}

.motto-size{
    font-size: 40px !important;
    font-weight: 400 !important;
    line-height: 52px !important;
    letter-spacing: 0em !important;
    text-align: left !important;
}

.section-size{
    font-size:  32px !important;
    font-size: 32px !important;
    font-weight: 400 !important;
    line-height: 40px !important;
    letter-spacing: 0em !important;
    text-align: left !important;
}

.label-size{
    font-size:  16px !important;
}