<div fxLayout="column" fxLayoutAlign="start start" class="w-full">
	<app-stepper class="w-full"></app-stepper>

	<app-liveness-detection-ios *ngIf="demoData.OS == 'IOS'" fxLayoutAlign="center center" class="w-full h-full mb-6"></app-liveness-detection-ios>
	<app-liveness-detection *ngIf="demoData.OS != 'IOS'" fxLayoutAlign="center center" class="w-full h-full mb-6"></app-liveness-detection>

	<div fxLayout="row" fxLayoutAlign="center center" class="w-full pb-20">
		<button mat-stroked-button color="primary" class="m-4 z-index-2 back-button" (click)="goBack()">{{ "go_back" | transloco }}</button>
	</div>
</div>
