<div *ngIf="!showError && appRegistration && appRegistration.person" fxLayout="column" fxLayoutAlign="center center" class="flex w-full">
	<div class="rounded-2xl end-card w-1/2 shadow overflow-hidden bg-card error-dialog p-4 mt-4" fxLayout="column" fxLayoutAlign="center center">
		<img src="https://cdn.verifik.co/access/check.svg" class="w-16" alt="" />

		<h1 class="text-center text-2xl pt-2 pb-2" [style.color]="project.branding.titleColor">{{ "signup.end_step.title" | transloco }}</h1>

		<img [src]="face.base64" alt="" class="mt-4 box-shadow-3px final-face" />

		<h3 class="text-center pt-2" [style.color]="project.branding.txtColor">
			{{ appRegistration.person.name }}
		</h3>

		<div fxLayout="column" fxLayoutAlign="center center" class="w-full">
			<button
				mat-raised-button
				class="w-11/12 mt-4 start-demo-button"
				(click)="completeAndRedirect()"
				[style.background]="project.branding.buttonColor"
				[style.color]="project.branding.buttonTxtColor"
			>
				<span>{{ "signup.end_step.complete_button" | transloco }}</span>
			</button>
		</div>
	</div>
</div>
<div
	*ngIf="!showError && appRegistration && !appRegistration.person && !appRegistration.documentFace"
	fxLayout="column"
	fxLayoutAlign="center center"
	class="flex w-full"
>
	<div class="rounded-2xl end-card w-1/2 shadow overflow-hidden bg-card error-dialog p-8 mt-11" fxLayout="column" fxLayoutAlign="center center">
		<img src="https://cdn.verifik.co/access/check.svg" class="w-20" alt="" />

		<h1 class="text-center text-3xl pt-4 pb-2" [style.color]="project.branding.titleColor">{{ "signup.end_step.title" | transloco }}</h1>

		<!-- <img [src]="appRegistration.documentFace.base64" alt="" class="mt-4 box-shadow-3px final-face" /> -->
		<ng-container *ngIf="appRegistration && !appRegistration.fullName && appRegistration.firstName && appRegistration.fullName">
			<h3 class="text-center pt-4" [style.color]="project.branding.txtColor">{{ appRegistration.firstName }} {{ appRegistration.lastName }}</h3>
		</ng-container>
		<ng-container *ngIf="appRegistration && appRegistration.fullName && !appRegistration.firstName && !appRegistration.fullName">
			<h3 class="text-center pt-4" [style.color]="project.branding.txtColor">
				{{ appRegistration.fullName }}
			</h3>
		</ng-container>
		<ng-container *ngIf="appRegistration && appRegistration.fullName && appRegistration.firstName && appRegistration.fullName">
			<h3 class="text-center pt-4" [style.color]="project.branding.txtColor">
				{{ appRegistration.fullName }}
			</h3>
		</ng-container>

		<div fxLayout="column" fxLayoutAlign="center center" class="w-full">
			<button
				mat-raised-button
				class="w-11/12 mt-4 start-demo-button"
				(click)="completeAndRedirect()"
				[style.background]="project.branding.buttonColor"
				[style.color]="project.branding.buttonTxtColor"
			>
				<span>{{ "signup.end_step.complete_button" | transloco }}</span>
			</button>
		</div>
	</div>
</div>
<div
	*ngIf="!showError && appRegistration && !appRegistration.person && appRegistration.documentFace"
	fxLayout="column"
	fxLayoutAlign="center center"
	class="flex w-full"
>
	<div class="rounded-2xl end-card w-1/2 shadow overflow-hidden bg-card error-dialog p-8 mt-11" fxLayout="column" fxLayoutAlign="center center">
		<img src="https://cdn.verifik.co/access/check.svg" class="w-20" alt="" />

		<h1 class="text-center text-3xl pt-4 pb-2" [style.color]="project.branding.titleColor">{{ "signup.end_step.title" | transloco }}</h1>

		<img [src]="appRegistration.documentFace.base64" alt="" class="mt-4 box-shadow-3px final-face" />
		<ng-container *ngIf="appRegistration && appRegistration.documentValidation && appRegistration.documentValidation.OCRExtraction">
			<h3 class="text-center pt-4" [style.color]="project.branding.txtColor">
				{{ appRegistration.documentValidation.OCRExtraction.fullName }}
			</h3>
		</ng-container>

		<div fxLayout="column" fxLayoutAlign="center center" class="w-full">
			<button
				mat-raised-button
				class="w-11/12 mt-4 start-demo-button"
				(click)="completeAndRedirect()"
				[style.background]="project.branding.buttonColor"
				[style.color]="project.branding.buttonTxtColor"
			>
				<span>{{ "signup.end_step.complete_button" | transloco }}</span>
			</button>
		</div>
	</div>
</div>
