<ng-container>
	<div
		fxLayout="column"
		fxLayoutAlign="start center"
		class="bg-white rounded-lg shadow-lg w-full"
		*ngIf="!response.isFailed && camera.hasPermissions && !errorResult"
	>
		<canvas #cardIdFace hidden="true"></canvas>

		<div class="relative" [style.width.px]="camera.dimensions.video.width * 1.2" [style.height.px]="camera.dimensions.video.height">
			<webcam
				[height]="camera.dimensions.video.max.height"
				[width]="camera.dimensions.video.max.width * 1.2"
				[videoOptions]="camera.configuration"
				[imageQuality]="1"
				[captureImageData]="true"
				[allowCameraSwitch]="false"
				[trigger]="takePicture$"
				[mirrorImage]="demoData.isMobile ? 'never' : 'always'"
				(imageCapture)="proccessImage($event)"
				(initError)="cameraError($event)"
				*ngIf="!response.base64Image"
			></webcam>

			<canvas
				#maskResult
				*ngIf="!response.base64Image"
				class="absolute top-0 left-0"
				[style.width.px]="response.base64Image ? camera.dimensions.result.width : camera.dimensions.video.width"
				[style.height.px]="response.base64Image ? camera.dimensions.result.height : camera.dimensions.video.height"
			></canvas>

			<img [src]="response.base64Image" *ngIf="response.base64Image" alt="" />

			<canvas #toSend [class.hidden]="true"></canvas>
		</div>
		<div
			fxLayout="column"
			fxLayoutAlign="center center"
			class="text-center h-20 pb-4 sm:h-8 xs:h-8 my-2"
			[ngClass]="{ 'id-scanning-error-container': errorFace && errorFace.title }"
		>
			<div *ngIf="errorFace && !loadingResults">
				<div [style.color]="project.branding.titleColor" class="text-3xl font-bold">{{ errorFace.title }}</div>
				<div [style.color]="project.branding.txtColor" class="text-gray-600">{{ errorFace.subtitle }}</div>
			</div>
		</div>
		<div fxLayout="row" fxLayoutAlign="end center" class="capture_button">
			<button
				mat-raised-button
				[style.background]="project.branding.buttonColor"
				[style.color]="project.branding.buttonTxtColor"
				class="m-4 z-index-2 capture_button"
				[class.hidden]="response.base64Image"
				(click)="takePictureSnapshot()"
				[disabled]="errorFace"
			>
				{{ "id_scanning.manual_capture_button" | transloco }}
			</button>

			<button
				mat-stroked-button
				[style.background]="project.branding.buttonColor"
				[style.color]="project.branding.buttonTxtColor"
				class="m-4 z-index-2"
				[class.hidden]="!response.base64Image"
				(click)="ngOnInit()"
			>
				{{ "id_scanning.retry" | transloco }}
			</button>

			<button
				mat-raised-button
				[style.color]="project.branding.txtColor"
				class="mx-2"
				[class.hidden]="!response.base64Image"
				(click)="continue()"
			>
				{{ "continue" | transloco }}
			</button>
		</div>
	</div>
</ng-container>

<!-- it doesnt have permissions -->
<div
	*ngIf="!response.isFailed && !camera.hasPermissions && !camera.isLoading"
	fxLayout="column"
	fxLayoutAlign="center center"
	class="id-scanning-error-div"
>
	<img src="https://cdn.verifik.co/demo/nocameraenabled.svg" alt="" class="id-scanning-no-camera-enabled-img" />

	<h1 class="mt-4" [style.color]="project.branding.titleColor">{{ "id_scanning.camera_not_found" | transloco }}</h1>

	<p class="mt-4" [style.color]="project.branding.txtColor">
		{{ "id_scanning.camera_not_found_description" | transloco }}
	</p>
</div>

<kyc-document-errors-display
	class="m-16"
	*ngIf="errorContent.message"
	[errorContent]="errorContent"
	[attempts]="attempts"
	[attemptsLimit]="attemptsLimit"
	[callback]="onErrorCallback"
>
</kyc-document-errors-display>

<div *ngIf="response.isFailed" fxLayout="column" fxLayoutAlign="center center" class="id-scanning-error-div">
	<img
		[src]="
			attempts.limit - attempts.current > 0
				? 'https://cdn.verifik.co/demo/failedtodetectdocument@3x.png'
				: 'https://cdn.verifik.co/demo/redstop.svg'
		"
		alt=""
		class="id-scanning-failed-document-img"
	/>

	<h1 class="mt-4" [style.color]="project.branding.titleColor">
		{{ (attempts.limit - attempts.current > 0 ? "id_scanning.document_not_detected" : "id_scanning.failed_to_detect_limit") | transloco }}
	</h1>

	<p class="mt-4" [style.color]="project.branding.txtColor">
		{{
			(attempts.limit - attempts.current > 0
				? "id_scanning.document_not_detected_description"
				: "id_scanning.failed_to_detect_limit_description"
			) | transloco
		}}
	</p>

	<p class="mt-4" [style.color]="project.branding.txtColor" *ngIf="attempts.limit - attempts.current > 0">
		{{ "id_scanning.remaining_attempts" | transloco }} {{ attempts.limit - attempts.current }}
	</p>

	<button
		mat-raised-button
		class="mt-4 z-index-2 id-scanning-try-again-button"
		[style.background]="project.branding.buttonColor"
		[style.color]="project.branding.buttonTxtColor"
		(click)="attempts.limit - attempts.current > 0 ? tryAgain() : restartDemo()"
	>
		{{ (failedToDetectDocument ? "id_scanning.retry" : "restart") | transloco }}
	</button>
</div>
